<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<div th:fragment="alerts">

    <div class="modal-background"></div>

    <div class="alert-modal alert-btn-1">
        <div class="text"></div>
        <div class="data"></div>
        <button class="btn-blue ok no" onclick="hideModal()">확인</button>
    </div>

    <div class="alert-modal alert-btn-2">
        <div class="text"></div>
        <div class="data"></div>
        <div class="btn-box">
            <button class="btn-blue ok">확인</button>
            <button class="btn-gray no" onclick="hideModal()">취소</button>
        </div>
    </div>

</div>