<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div class="top-nav-background"></div>
    <div class="top-nav-wrapper">
        <div class="top-logo-wrapper" onclick="location.href='/home'">
            <img id="top-logo" src="/img/icon/logo.png">
            <span class="top-title">BookShelf</span>
        </div>

        <div class="news-wrapper">
            <img src="/img/icon/bell.svg" id="news">
            <div id="news-n">N</div>
        </div>
        <img src="/img/icon/cart.svg" id="cart">

        <button class="login-button" onclick="location.href='/login'">로그인</button>
        <nav class="top-nav">
            <div id="underbar"></div>
            <ul>
                <li onclick="location.href='/home'">NOW</li>
                <li onclick="location.href='/search'">책찾기</li>
                <li onclick="location.href='/event'">이벤트</li>
                <li onclick="location.href='/myshelf'">내책장</li>
                <li onclick="location.href='/board-review'">게시판</li>
            </ul>
        </nav>
    </div>
</header>