<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<header th:fragment="header">

    <div class="top-nav-background"></div>
    <div class="top-nav-wrapper">
        <div class="top-logo-wrapper" onclick="location.href='/'">
            <img id="top-logo" src="/img/icon/logo.png">
            <span class="top-title">BookShelf</span>
        </div>

        <div class="svg-wrapper" onclick="location.href='/login'" sec:authorize="!isAuthenticated()">
            <svg id="shape-wrapper" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" />
                <div id="text">
                    <span class="spot"></span>로그인
                </div>
            </svg>
        </div>

        <div class="login-active-user" sec:authorize="hasRole('USER')">
            <div class="news-wrapper">
                <img src="/img/icon/bell.svg" id="news">
                <div id="news-n">N</div>
            </div>
            <img src="/img/icon/cart.svg" id="cart">

            <div class="svg-wrapper" onclick="location.href='/logout'">
                <svg id="shape-wrapper" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" />
                    <div id="text">
                        <span class="spot"></span>로그아웃
                    </div>
                </svg>
            </div>
        </div>

        <div class="login-active-admin" sec:authorize="hasRole('ADMIN')">

            <div class="svg-wrapper admin-btn" onclick="location.href='/admin'">
                <svg id="shape-wrapper" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" />
                    <div id="text">
                        <span class="spot"></span>관리페이지
                    </div>
                </svg>
            </div>

            <div class="svg-wrapper" onclick="location.href='/logout'">
                <svg id="shape-wrapper" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" />
                    <div id="text">
                        <span class="spot"></span>로그아웃
                    </div>
                </svg>
            </div>
        </div>

        <nav class="top-nav">
            <div id="underbar"></div>
            <ul>
                <li onclick="location.href='/'">NOW</li>
                <li onclick="location.href='/search'">책찾기</li>
                <li onclick="location.href='/event'">혜택</li>
                <li onclick="location.href='/myshelf'">내책장</li>
                <li onclick="location.href='/review?page=0&size=3'">게시판</li>
            </ul>
        </nav>
    </div>

</header>