#underbar {
  position: absolute;
  left: 80%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 80%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 290px;
  background-image: url("/img/background/brando-makes-branding-PjhOkwN0ruY-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(110%);
}

.top-back-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 20px;
  display: none;
}

.top-space {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
}
.middle-nav-container {
  position: relative;
  width: 1000px;
  height: 45px;
  margin: auto;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-nav div:not(.middle-nav-underbar) {
  position: relative;
  width: 33.3%;
  float: left;
  margin: 10px 0;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  cursor: pointer;
}
.middle-nav-underbar {
  position: absolute;
  bottom: 1px;
  left: 66.6%;
  width: 33.3%;
  height: 3px;
  background-color: #000000;
  opacity: 0.5;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 11;
}
.tag-active {
  background-color: cornflowerblue;
  color: white;
  transition: 0.3s;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}


.notice-controller {
  position: relative;
  height: 40px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.controller {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 228px;
}

.controller-btn-left {
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller-btn-right {
  position: absolute;
  top: 2px;
  right: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller a{
  display: inline-block;
  width: 19px;
  margin: 0 2px;
  border-radius: 50%;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
}
.index-active {
 background-color: cornflowerblue;
 color: white;
}


.notice-wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
  padding: 40px;
}
.notice-title-wrapper{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.notice-title-wrapper .title {
  position: relative;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 40px;
}
.notice-title-wrapper .notice-write{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 36px;
  float: right;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  color: #707070;
  text-align: center;
  line-height: 30px;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
}
.notice-title-wrapper .notice-write:hover{
  background-color: #f5f5f5;
  transition: 0.3s;
}
.notice-middle-wrapper {
  position: relative;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  padding-top: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
}
.notice-middle-wrapper .number {
  color: cornflowerblue;
}
.notice-middle-wrapper .text {
  color: rgb(92, 92, 92);
}
.notice-search-wrapper {
  position: absolute;
  bottom: 0px;
  right: 130px;
  width: 50%;
  height: 36px;
  border-radius: 10px;
  text-align: center;
}
.notice-search-wrapper .search {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 36px;
  border: 1px solid silver;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
.search-by {
  position: absolute; 
  top: 0px;
  left: 0;
  border: none;
  outline: none;
  border-right: 1px solid silver;
  width: 30%;
  height: 100%;
  text-indent: 10px;
}
.notice-search-input{
  position: absolute;
  top: 0px;
  right: 0;
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
  text-indent: 20px;
}
.notice-search-wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 22px;
  opacity: 0.5;
  cursor: pointer;
}
#notice-middle-type {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 120px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  text-indent: 10px;
  cursor: pointer;
}

.notices {
  position: relative;
  width: 100%;
}
.notices .header {
  position: relative;
  width: 100%;
  border-top: 2px solid gray;
  border-bottom: 1px solid gray;
  font-size: 0px;
}
.notices .number {
  width: 10%;
  height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
}
.notices .title {
  width: 55%;
  height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
}
.my-notice .title{
  text-align: left;
  text-indent: 40px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notices .type {
  width: 15%;
  height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
}
.notices .date {
  width: 20%;
  height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
}

.notices .body {
  font-size: 0px;
}
.my-notice {
  border-bottom: 1px solid lightgray;
  display: flex;
}



.notice-write-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 742px;
  background-color: white;
  padding: 30px;
  border: 1px solid silver;
  display: none;
  z-index: 12;
}
.notice-write-contents {
  width: 566px;
  height: 580px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 26px;
  margin-bottom: 20px;
}
.notice-write-contents::-webkit-scrollbar {
  width: 3px;
}
.notice-write-contents::-webkit-scrollbar-thumb {
  height: 30%;
  background: cornflowerblue;
  border-radius: 10px;
}
.notice-write-top {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.notice-write-top-text {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
}
.notice-write-top-icon{
  position: absolute;
  right: 0px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
.notice-write-header {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.notice-write-header .title {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 10px;
}
.notice-input-header {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 1px solid silver;
  border-radius: 10px;
  resize: none;
  outline: none;
  line-height: 40px;
  text-indent: 20px;
  overflow: hidden;
}
.notice-input-header::placeholder {
  color: rgb(150, 150, 150);
}
.notice-write-main {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.notice-write-main-title {
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.notice-write-frame {
  width: 100%;
  height: 400px;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 15px 20px;
}
.notice-input-main {
  width: 100%;
  height: 350px;
  font-size: 14px;
  border: none;
  resize: none;
  outline: none;
  line-height: 20px;
}
.notice-input-main::placeholder {
  color: rgb(150, 150, 150);
}

.regist-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-color: rgb(83, 138, 240);
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}



.close-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 360px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  z-index: 13;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid silver;
  display: none;
}
.close-alert .text{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.close-alert .cancel{
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.close-alert .cancel:hover{
  background-color: rgb(97, 97, 97);
  transition: 0.2s;
}
.close-alert .okay{
  position: absolute;
  bottom: 40px;
  right: 50px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  cursor: pointer;
} 
.close-alert .okay:hover {
  background-color: rgb(80, 140, 253);
  transition: 0.2s;
}

@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1280px) {
  .top-back {
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .notice-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width:1000px) {
  .middle-nav-container {
    width: 100%;
  }
}
 
@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 638px;
  }
  .middle-nav {
    width: 583px;
  }
  .notice-wrapper {
    width: 626px;
  }
}

@media only screen and (max-width:400px) {
  .top-nav-wrapper {
    width: 384px;
  }
}
@media only screen and (max-width:350px) {
  .bottom-nav-wrapper {
    width: 350px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) translateY(-50%);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1) translateY(-50%);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1) translateY(-50%);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-50%);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) translateY(-50%);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
}

@keyframes background-color-change {
  0% {
   background-color: rgb(255, 174, 0);
  }
  25% {
    background-color: rgb(255, 110, 207);
  }
  50% {
    background-color: rgb(144, 248, 255);
  }
  100% {
    background-color: rgb(255, 174, 0);
  }
}

@keyframes border-color-change {
  0% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
  25% {
    border: 5px solid rgba(255, 87, 255, 0.5);
  }
  50% {
    border: 5px solid rgba(155, 209, 226, 0.5);
  }
  100% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
}

@keyframes border-color-change-1px {
  0% {
    border: 1px solid rgb(255, 187, 0);
  }
  30% {
    border: 1px solid rgb(255, 87, 255);
  }
  60% {
    border: 1px solid rgb(126, 221, 250);
  }
  100% {
    border: 1px solid rgb(255, 187, 0);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}