#underbar {
  position: absolute;
  left: 80%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 80%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 290px;
  background-image: url("/img/background/brando-makes-branding-PjhOkwN0ruY-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(110%);
}

.top-back-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 20px;
  display: none;
}

.top-space {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
}
.middle-nav-container {
  position: relative;
  width: 1000px;
  height: 45px;
  margin: auto;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-nav div:not(.middle-nav-underbar) {
  position: relative;
  width: 33.3%;
  float: left;
  margin: 10px 0;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  cursor: pointer;
}
.middle-nav-underbar {
  position: absolute;
  bottom: 1px;
  left: 0%;
  width: 33.3%;
  height: 3px;
  background-color: #000000;
  opacity: 0.5;
}


.review-wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
  padding: 40px;
}
.review-title-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.review-title {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}
.review-title-my {
  position: relative;
  right: 0px;
  width: 120px;
  height: 36px;
  float: right;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid silver;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  color: rgb(109, 109, 109);
  background-color: white;
}
.review-title-my:hover {
  background-color: #f8f8f8;
  transition: 0.2s;
}
.review-title-write {
  position: relative;
  right: 0px;
  width: 100px;
  height: 36px;
  float: right;
  border-radius: 5px;
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}
.review-title-write:hover {
  background-color: rgb(59, 121, 236);
  transition: 0.2s;
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 11;
}

.review-write-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 742px;
  background-color: white;
  padding: 30px;
  border: 1px solid silver;
  display: none;
  z-index: 12;
}
.review-modify-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 742px;
  background-color: white;
  padding: 30px;
  border: 1px solid silver;
  z-index: 12;
}
#modify-wrapper {
  display: none;
}
.review-write-contents {
  width: 566px;
  height: 580px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 26px;
  margin-bottom: 20px;
}
.review-write-contents::-webkit-scrollbar {
  width: 3px;
}
.review-write-contents::-webkit-scrollbar-thumb {
  height: 30%;
  background: cornflowerblue;
  border-radius: 10px;
}
.review-write-top {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.review-write-top-text {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
}
.review-write-top-text div {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5px;
  height: 5px;
  background-color: cornflowerblue;
}
.review-write-top-icon{
  position: absolute;
  right: 0px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
.review-write-find {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;;
}
.review-write-find:hover {
  background-color: #fafafa;
  transition: 0.3s;
}

.review-write-find-icon {
  position: relative;
  top: 3px;
}
.review-write-find-text {
  position: relative;
  line-height: 50px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}



.review-write-search-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 742px;
  background-color: white;
  padding: 30px;
  border: 1px solid silver;
  display: none;
  z-index: 13;
}
.review-search-contents {
  width: 566px;
  height: 492px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 26px;
  margin-bottom: 20px;
}
.review-search-contents::-webkit-scrollbar {
  width: 3px;
}
.review-search-contents::-webkit-scrollbar-thumb {
  height: 30%;
  background: cornflowerblue;
  border-radius: 10px;
}
.search-title {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.search-title .text {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
}
.search-title img {
  position: absolute;
  right: 0px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
.search-input-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.search-input-wrapper input {
  position: absolute;
  left: 0px;
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  text-indent: 40px;
  font-size: 20px;
}
.search-input-wrapper input::placeholder {
  font-size: 16px;
}
.search-input-wrapper img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}
.search-result-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.search-result-top {
  position: relative;
  width: 100%;
  height: 50px;
}
.search-result-info {
  position: relative;
  width: 200px;
  height: 40px;
}
.search-result-info .input-value {
  display: inline-block;
  font-weight: 900;
  line-height: 35px;
}
.search-result-info .text1{
}
.search-result-info .number {
  color: cornflowerblue;
  font-weight: 900;
}
.search-result-info .text2 {
}

.search-result-order {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  text-indent: 20px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
.search-result {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid lightgray;
  padding: 10px;
  display: table;
}
.search-result-text {
  width: 420px;
  display: table-cell;
  vertical-align: middle;
}
.search-result img {
  width: 60px;
}
.search-result .name {
}
.search-result .author {
}
.search-result .date {
}
.search-result .select {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  outline: none;
  border: 1px solid silver;
  cursor: pointer;
}
.search-result .select:hover {
  background-color: rgb(241, 241, 241);
  transition: 0.3s;
}

.search-controller {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.search-controller .controller {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 228px;
}

.review-write-book-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px;
  border: 1px solid rgb(240, 225, 184);
  margin-bottom: 30px;
  border-radius: 10px;
  display: none;
}
.review-modify-book-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px;
  border: 1px solid rgb(240, 225, 184);
  margin-bottom: 30px;
  border-radius: 10px;
}
.review-book-img {
  position: relative;
  width: 15%;
  display: inline-block;
  border: 1px solid silver;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.review-book-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 130px;
  width: 70%;
  height: 100%;
  display: inline-block;
}
.review-book-name {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.review-book-rating {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 172.5px;
  height: 35px;
}
.review-book-rating img {
  width: 30px;
  cursor: pointer;
}
.review-book-rating .star-empty{
  position: absolute;
  width: 172.5px;
  float: left;
  white-space: nowrap;
}
.review-book-rating .star-fill{
  position: absolute;
  width: 0px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
.review-book-rating-number {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right: 150px;
}
.rating-number {
  position: relative;
  font-size: 20px;
  color: #ffae00;
  font-family: 'Noto Sans KR', sans-serif;
}
.max-number {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  color: gray;
}


.review-write-tag {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.review-write-tag-info {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
.review-write-tag .tag{
  position: relative;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid silver;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.review-write-tag .tag:hover {
  border: 2px solid cornflowerblue;
  transition: 0.3s;
}
.tag-active {
  background-color: cornflowerblue;
  color: white;
  transition: 0.3s;
}

.review-write-main {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.review-write-main-title {
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.review-write-frame {
  width: 100%;
  height: 160px;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 15px 20px;
}
.review-write {
  width: 100%;
  height: 110px;
  font-size: 14px;
  border: none;
  resize: none;
  outline: none;
  line-height: 20px;
}
.review-write::placeholder {
  color: rgb(150, 150, 150);
}
.write-number {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
}
.review-write-attach {
}
.review-write-attach-title {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.review-write-attach-photo {
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.review-write-attach-photo-button {
  width: 100px;
  height: 100px;
  background-color: #ebebeb;
  background-image: url("/img/icon/plus-simple.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  opacity: 0.2;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  margin: 0 3px;
}
.review-write-photo-input {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.review-write-photo-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 3px;
  border: 1px solid silver;
  border-radius: 10px;
  overflow: hidden;
}
.review-write-photo {
  position: absolute;
  width: 98px;
  height: 98px;
  background-size: cover;
  background-position: center;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0);
}
.review-write-photo::-webkit-file-upload-button {
  display: none;
}
.review-write-photo-cancel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  z-index: 1;
}
.review-write-attach-guide {
  font-size: 12px;
  color: gray;
}
.regist-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-color: rgb(83, 138, 240);
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}



.reviews-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.my-review {
  position: relative;
  width: 100%;
  height: auto;
}
.my-review .book-name {
  position: relative;
  width: 100%;
  height: 70px;
  border-top: 1px solid silver;
  border-bottom: 1px solid lightgray;
  line-height: 70px;
  font-family: 'Noto Sans KR', sans-serif;
  color:rgba(0, 0, 0, 0.7);
}
.my-review .header {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 10px 0;
}
.my-review .buyer {
  position: relative;
  width: 50px;
  height: 25px;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 12px;
  text-align: center;
  line-height: 25px;
  float: left;
}
.my-review .id {
  position: relative;
  line-height: 30px;
  float: left;
  margin-left: 10px;
}
.my-review .date {
  position: relative;
  line-height: 30px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.my-review .modify,
.my-review .delete {
  position: relative;
  line-height: 30px;
  float: left;
  margin-left: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
.my-review .tag {
  position: relative;
  width: auto;
  padding: 5px 10px;
  float: right;
  margin-left: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 15px;
  color: gray;
}
.my-rating-num {
  display: none;
}
.my-review .rating {
  position: relative;
  width: 103px;
  height: 21px;
  top: 54%;
  transform: translateY(-50%);
  float: right;
}
.my-review .star-empty {
  position: absolute;
  width: 103px;
  float: left;
  white-space: nowrap;
}
.my-review .star-fill {
  position: absolute;
  /* width: 0px; */
  float: left;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
.my-review .body {
  position: relative;
  width: 100%;
  min-height: 70px;
  margin-bottom: 20px;
}
.my-review .review {
  position: relative;
  width: 80%;
  height: auto;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}




.my-review .photos {
  position: absolute;   /* fixed */
  top: 0;               /* 50% */
  right: 0;           /* auto */
  left: auto;           /* 50% */
  width: 64px;          /* 600px */
  height: 64px;         /* 400px */
  transform: auto;
  float: right;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover; /* contain */
  background-repeat: no-repeat;
  background-position: center; 
  z-index: 0;  /* 11 */
}
.my-review .photos img {
  display: none;
}
.my-review .photos .number {   /* text 1 / 5 */
  position: absolute;
  bottom: 0;  /* 10px */
  right: 0;  /* auto */
  left: auto;  /* 50% */
  transform: none; /* translateX(-50%) */
  width: 20px;  /* auto */
  height: 15px;  /* auto */
  background-color: rgba(0, 0, 0, 0.6);  /* rgba(0, 0, 0, 0) */
  color: white;
  text-align: center;
  font-size: 11px;  /* 20px */
  line-height: 15px; /* 20px */
  filter: none;
  border-radius: 5px 0 0 0;
  text-shadow: none;  /* 0px 0px 2px black */
}
.photos .close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  line-height: 25px;
  color: white;
  text-shadow: 0px 0px 2px black;
  display: none;
}
.photos .btn-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 4px black;
  color: white;
  font-size: 50px;
  font-stretch: ultra-condensed;
  line-height: 10px;
  display: none;
}
.photos .btn-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 4px black;
  color: white;
  font-size: 50px;
  font-stretch: ultra-condensed;
  line-height: 10px;
  display: none;
}
.photos .plus {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 64px;
  border-radius: 5px;
  display: none;
}
.my-review .frame {
  position: absolute;
  top: 0;       
  right: 0;      
  width: 64px;        
  height: 64px;      
  float: right;
  border: 1px solid rgb(255, 187, 0);
  background-color: #ebebeb;
  border-radius: 5px;
  display: none;
}
.my-review .fold-button {
  position: relative;
  width: 70px;
  height: 25px;
  display: none;
  cursor: pointer;
}
.my-review .fold-button .text {
  font-size: 14px;
  line-height: 25px;
  float: left;
  margin-right: 5px;
}
.my-review .fold-button .icon {
  position: absolute;
  top: 3px;
  width: 20px;
  transition: 0.5s;
}


.review-controller {
  position: relative;
  height: 40px;
  text-align: center;
  border-top: 1px solid lightgray;
}

.review-controller .controller {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 228px;
}

.controller-btn-left {
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller-btn-right {
  position: absolute;
  top: 2px;
  right: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller a{
  display: inline-block;
  width: 19px;
  margin: 0 2px;
  border-radius: 50%;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
}
.index-active {
 background-color: cornflowerblue;
 color: white;
}

.regist-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-color: rgb(83, 138, 240);
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}


.alert-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 360px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  z-index: 13;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid silver;
  display: none;
}
.alert-window .text{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.alert-window .cancel{
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.alert-window .cancel:hover{
  background-color: rgb(97, 97, 97);
  transition: 0.2s;
}
.alert-window .okay{
  position: absolute;
  bottom: 40px;
  right: 50px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  cursor: pointer;
} 
.alert-window .okay:hover {
  background-color: rgb(80, 140, 253);
  transition: 0.2s;
}
.delete-alert {
  display: none;
}

@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1280px) {
  .top-back {
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .review-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width:1000px) {
  .middle-nav-container {
    width: 100%;
  }
}
 
@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 638px;
  }
  .middle-nav {
    width: 583px;
  }
  .review-wrapper {
    width: 638px;
  }
}

@media only screen and (max-width:400px) {
  .top-nav-wrapper {
    width: 384px;
  }
}
@media only screen and (max-width:350px) {
  .bottom-nav-wrapper {
    width: 350px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) translateY(-50%);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1) translateY(-50%);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1) translateY(-50%);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-50%);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) translateY(-50%);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
}

@keyframes background-color-change {
  0% {
   background-color: rgb(255, 174, 0);
  }
  25% {
    background-color: rgb(255, 110, 207);
  }
  50% {
    background-color: rgb(144, 248, 255);
  }
  100% {
    background-color: rgb(255, 174, 0);
  }
}

@keyframes border-color-change {
  0% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
  25% {
    border: 5px solid rgba(255, 87, 255, 0.5);
  }
  50% {
    border: 5px solid rgba(155, 209, 226, 0.5);
  }
  100% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
}

@keyframes border-color-change-1px {
  0% {
    border: 1px solid rgb(255, 187, 0);
  }
  30% {
    border: 1px solid rgb(255, 87, 255);
  }
  60% {
    border: 1px solid rgb(126, 221, 250);
  }
  100% {
    border: 1px solid rgb(255, 187, 0);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}