#underbar {
  position: absolute;
  left: 20%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 20%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
  margin-bottom: 40px;
  padding: 40px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  color: rgb(62, 62, 62);
}

.option-box {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
}

.option-box .all-select {
  display: flex;
}

.option-box .all-select .check {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.option-box .all-select .text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  font-size: 18px;
}

.option-box .del-btn, 
.option-box .order-btn {
  padding: 5px 30px;
  border-radius: 5px;
}
.option-box .del-btn {
  margin-right: 20px;
}

.cart-box {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
  background-color: #fbfbfb;
}

.cart-box .row-head {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  place-items: center;
}

.cart-box .row-head .text {
}

.cart-box .row {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
  padding: 20px 0;
  background-color: white;
}

.cart-box .row div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-box .row .check {
  width: 25px;
  justify-self: center;
}

.cart-box .row .img-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart-box .row .img-name img {
  width: 80px;
  margin: 0 40px;
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 30%);
  border: 1px solid silver;
  border-radius: 3px;
}

.cart-box .row .img-name .name-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cart-box .row .img-name .name-box .name {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

.cart-box .row .img-name .name-box .author {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gray;
}

.cart-box .row .amount-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-box .row .amount-box .minus-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1px;
}

.cart-box .row .amount-box .plus-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1px;
}

.cart-box .row .amount-box .count {
  height: 32px;
  width: 50px;
  border: 1px solid lightgray;
  font-size: 18px;
  text-align: center;
}

.cart-box .row .price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cart-box .row .price-box .origin-price {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
}

.cart-box .row .price-box .discount-price {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.cart-box .row .del-btn {
  width: 100px;
  height: 32px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
}

.cart-box .null {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-box .null img {
  width: 40px;
  opacity: 0.1;
  margin-bottom: 20px;
}

.cart-box .null .text {
  font-size: 20px;
  color: lightgray;
}

.bottom-box {
  display: flex;
  align-items: center;
  justify-content: end;
}

.bottom-box .price-sum {
  display: flex;
  font-size: 18px;
}

.bottom-box .price-sum .text {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.bottom-box .price-sum .price-box {
  display: flex;
}

.bottom-box .price-sum .price-box .origin-sum {
  font-size: 16px;
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.bottom-box .price-sum .price-box .discount-sum {
  font-size: 24px;
  font-weight: 900;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.bottom-box .order-btn {
  padding: 9px 90px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}