#underbar {
  position: absolute;
  left: 422px;
  /* 122 222 322 422*/
  top: 40px;
  background: #ffd16d;
  width: 80px;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 80%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 290px;
  background-image: url("/img/background/brando-makes-branding-PjhOkwN0ruY-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(110%);
}

.top-back-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 20px;
  display: none;
}

.top-space {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
}
.middle-nav-container {
  position: relative;
  width: 1000px;
  height: 45px;
  margin: auto;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-nav div:not(.middle-nav-underbar) {
  position: relative;
  width: 25%;
  float: left;
  margin: 10px 0;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  cursor: pointer;
}
.middle-nav-underbar {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 25%;
  height: 3px;
  background-color: #000000;
  opacity: 0.5;
}








.inquire-wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 40px;
}
.inquire-title-wrapper{
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.inquire-title-wrapper .title {
  position: relative;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}

.detail-wrapper {
  position: relative;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding-top: 30px;
}
.detail-wrapper .title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 5px;
}
.detail-wrapper .lock {
}
.detail-wrapper .sub-title {
  padding: 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
.detail-wrapper .sub-title .type {
  font-size: 14px;
}
.detail-wrapper .split {
  font-size: 12px;
  color: #989898;
}
.detail-wrapper .sub-title .date{
  font-size: 14px;
}
.detail-wrapper .sub-title .edit{
  font-size: 14px;
  font-weight: 900;
  float: right;
  margin-right: 20px;
  color: #848484;
}
.detail-wrapper .sub-title .remove{
  font-size: 14px;
  font-weight: 900;
  float: right;
  color: #848484;
}
.detail-wrapper .contents{
  padding: 40px 20px;
  font-size: 15px;

}
.detail-wrapper .comment-wrapper{
  padding: 20px;
}
.detail-wrapper .comment-wrapper .sum{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}
.detail-wrapper .comment-wrapper .comment{
  width: 100%;
  height: 38px;
  resize: none;
  padding-top: 10px;
  padding-right: 100px;
  outline: none;
  border:none;
  border-bottom: 1px solid silver;
  margin-bottom: 40px;
  font-size: 14px;
}
.comment-underline {
  position: relative;
  bottom: 45px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: gray;
}
.comment-wrapper .comment::-webkit-scrollbar {
  background-color: white;
}
.comment-wrapper .comment::placeholder {
  color: #afafaf;
}

.detail-wrapper .comment-wrapper .comment-button-save{
  position: relative;
  float: right;
  bottom: 35px;
  width: 70px;
  height: 30px;
  outline: none;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-color: white;
  color: cornflowerblue;
  font-weight: 900;
  display: none;
}
.detail-wrapper .comment-wrapper .comment-button-cancel{
  position: relative;
  float: right;
  bottom: 35px;
  width: 70px;
  height: 30px;
  outline: none;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  color: rgb(151, 151, 151);
  font-weight: 900;
  margin-right: 10px;
  display: none;
}
.inner-comment {
  position: relative;
}
.inner-comment img{
  position: absolute;
  top: 10px;
}
.inner-comment .comment {
  padding-left: 30px;
}
.inner{
  margin-left: 60px;
}
.my-comment {
  position: relative;
  font-size: 14px;
}
.my-comment .main {
  position: relative;
}
.my-comment .header{
  pointer-events: none;
}
.my-comment .header .name{
  font-family: 'Noto Sans KR', sans-serif;
}
.my-comment .header .date{
  
}
.my-comment .header .edit{
  float: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #848484;
}
.my-comment .header .remove{
  margin-left: 10px;
  float: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #848484;
}
.my-comment .header .reply{
  margin-left: 10px;
  float: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #848484;
}
.my-comment .body{
  padding: 5px 0px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.my-comment .option {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.my-comment .option img {
  position: relative;
  width: 25px;
  padding: 2px;
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}
.my-comment .option img:hover{
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.my-comment .option .box {
  position: absolute;
  top: 0px;
  right: 30px;
  width: 90px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: #8d8d8d;
  display: none;
}
.my-comment .option .box .edit{
  font-size: 14px;
  cursor: pointer;
}
.my-comment .option .box .remove{
  font-size: 14px;
  cursor: pointer;
}
.my-comment .option .box .reply{
  font-size: 14px;
  cursor: pointer;
}

.prev-detail {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ececec;
}
.prev-detail .prev {
  line-height: 70px;
  color: dimgray;
}
.prev-detail img {
  position: relative;
  top: 2px;
  line-height: 70px;
  width: 15px;
}
.prev-detail .title {
  line-height: 70px;
  text-decoration: none;
  color: dimgray;
  margin-left: 20px;
}

.next-detail {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ececec;
}
.next-detail .next {
  line-height: 70px;
  color: dimgray;
}
.next-detail img {
  position: relative;
  top: 2px;
  line-height: 70px;
  width: 15px;
  transform: rotate(180deg);
}
.next-detail .title {
  line-height: 70px;
  text-decoration: none;
  color: dimgray;
  margin-left: 20px;
}
.back-button {
  width: 150px;
  height: 50px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  color: cornflowerblue;
  text-align: center;
  line-height: 47px;
  margin: auto;
  margin-top: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1280px) {
  .top-back {
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .inquire-wrapper {
    width: 100%;
  } 
}
@media only screen and (max-width:1000px) {
  .middle-nav-container {
    width: 100%;
  }
}
 
@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 638px;
  }
  .middle-nav {
    width: 583px;
  }
  .inquire-wrapper {
    width: 626px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) translateY(-50%);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1) translateY(-50%);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1) translateY(-50%);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-50%);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) translateY(-50%);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
}

@keyframes background-color-change {
  0% {
   background-color: rgb(255, 174, 0);
  }
  25% {
    background-color: rgb(255, 110, 207);
  }
  50% {
    background-color: rgb(144, 248, 255);
  }
  100% {
    background-color: rgb(255, 174, 0);
  }
}

@keyframes border-color-change {
  0% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
  25% {
    border: 5px solid rgba(255, 87, 255, 0.5);
  }
  50% {
    border: 5px solid rgba(155, 209, 226, 0.5);
  }
  100% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
}

@keyframes border-color-change-1px {
  0% {
    border: 1px solid rgb(255, 187, 0);
  }
  30% {
    border: 1px solid rgb(255, 87, 255);
  }
  60% {
    border: 1px solid rgb(126, 221, 250);
  }
  100% {
    border: 1px solid rgb(255, 187, 0);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}