html {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  background-image: url(/img/background/top-background.jpg);
  background-size: cover;
  background-position: center;
}

.meta-wrapper {
  position: relative;
  width: 520px;
  height: 100%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  overflow-y: scroll;
  overflow-x: hidden;
}
.meta-wrapper::-webkit-scrollbar {
  width: 12px;
  background-color: white;
}
.meta-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  box-shadow: 0px 0px 50px 0px black;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
}
.inner-wrapper {
  position: relative;
  width: 100%;
  height: 90%;
}
header {
  position: relative;
  padding-top: 40px;
  width: 200px;
  height: 100px;
  margin: auto;
  cursor: pointer;
}
header img {
  position: absolute;
  left: 0px;
  width: 50px;
}
header div{
  position: absolute;
  right: 0px;
  padding-top: 2px;
  width: 150px;
  height: 40px;
  color: rgb(82, 82, 82);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
}
.container-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
form {
  position: relative;
  width: 340px;
  margin: auto;
}
input {
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;
  padding: 0;
  font-size: 20px;
}




.id-wrapper {
  position: relative;
  top: 0px;
  margin-bottom: 20px;
}
.user-id {
  padding: 0 20px;
  width: 298px;
  height: 54px;
}
.user-id:focus {
  border: 1px solid rgb(165, 165, 165);
}
.id-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 14px;
  color: rgb(170, 170, 170);
  white-space: nowrap;
}



.pw-wrapper {
  position: relative;
}
.user-pw {
  padding: 0 20px;
  width: 298px;
  height: 54px;
}
.user-pw:focus {
  border: 1px solid rgb(165, 165, 165);
}
.pw-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 14px;
  color: rgb(170, 170, 170);
  white-space: nowrap;
}
.pw-wrapper img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}


.field-error {
  position: absolute;
    top: -51px;
    width: 100%;
    color: rgb(255, 48, 90);
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-animation: shake-horizontal 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


#login {
  position: relative;
  width: 340px;
  height: 50px;
  background-color: gray;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
#login:disabled {
  background-color: lightgray;
  cursor:auto;
}


.option-wrapper {
  position: relative;
  width: 340px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}

#rememberMe {
  display: none;
}
.id-save-wrapper {
  position: absolute;
  left: 0px;
}
.id-save-check {
  position: relative;
  left: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(211, 211, 211);
  outline: none;
  border-radius: 10px;
  float: left;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.id-save-text {
  position: relative;
  top: 2px;
  left: 2px;
}

.find-idpw {
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
}


.button-wrapper {
  position: relative;
  text-align: center;
}
.button-wrapper img {
  width: 40px;
  margin: 5px;
  padding: 20px 0;
  cursor: pointer;
}


.caution {
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}


.join {
  position: relative;
  left: 0px;
  width: 338px;
  height: 26px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  color: gray;
  padding: 11px 0;
  cursor: pointer;
}
.no-join {
  position: relative;
  left: 0px;
  height: 26px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(170, 170, 170);
  font-size: 13px;
  font-weight: 600;
  padding-top: 20px;
  cursor: pointer;
}

.footer-wrapper {
  position: absolute;
  width: 520px;
  height: 10%;
  color: gray;
}
.footer-wrapper::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  height: 1px;
  background-color: #e4e4e4;
}
.footer {
  position: relative;
  width: 340px;
  margin: auto;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  80% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}