#underbar {
  position: absolute;
  left: 60%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 60%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 350px;
  background-image: url("/img/background/olia-gozha-J4kK8b9Fgj8-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.top-background-frame {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
  margin-top: 70px;
  border-radius: 20px;
  overflow: hidden;
}
.top-background {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 110px;
  background-image: url("/img/background/olia-gozha-J4kK8b9Fgj8-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  mix-blend-mode: color-dodge;
  animation: blurChange 2s both;
}
.top-background::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgb(0, 30, 255);
  mix-blend-mode: color-dodge;
  border-radius: 20px;
  opacity: 0.2;
}
.top-back-title-wrapper {
  position: relative;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
  margin-top: 70px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px 40px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.profile {
  position: relative;
  top: 0px;
  left: 0px;
  width: 60px;
  border-radius: 30px;
  border: 1px solid rgb(182, 182, 182);
  float: left;
  opacity: 0.5;
}

.top-back-title {
  position: relative;
  height: 40px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.top-back-title-name{
  position: relative;
  bottom: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 40px;
}
.top-back-title-text {
  position: relative;
  top: 4px;
  font-size: 25px;
  font-weight: 600;
  height: 40px;
  float: left;
}
.top-back-title-following {
  position: relative;
  top: 15px;
  float: left;
  margin-left: 10px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 30px;
}
.top-back-title-follower {
  position: relative;
  top: 15px;
  float: left;
  margin-left: 5px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 30px;
}
.top-back-setting {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  opacity: 0.7;
  cursor: pointer;
}


.top-back-point-wrapper {
  position: relative;
  height: 20px;
  left: 10px;
  padding: 0 20px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.top-back-point-icon {
  position: relative;
  width: 15px;
  float: left;
  margin-right: 5px;
}
.top-back-point-text {
  position: relative;
  bottom: 5px;
  height: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

.top-space {
  position: relative;
  width: 100%;
  height: 280px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
  display: flex;
  justify-content: center;
}
.middle-nav-container {
  position: relative;
  height: 45px;
  display: flex;
  justify-content: center;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.middle-nav div {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  white-space: nowrap;
  cursor: pointer;
}
.active-index {
  color: cornflowerblue;
  font-weight: 900;
}


.content-box {
  display: none;
}

.shelf-wrapper {
  position: relative;
  width: 1200px;
  height: 360px;
  margin: auto;
  padding: 0px 20px;
  display: block;
}
.favorite-wrapper {
  position: relative;
  width: 50%;
  height: 360px;
  float: left;
  padding: 40px 20px;
}
.favorite-title-wrapper {
  position: relative;
  bottom: 10px;
  padding: 0px 20px;
  height: 50px;
}
.favorite-title-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
}
.favorite-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #505050;
}
.favorite-number {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  font-size: 20px;
  color: #aaaaaa;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}
.favorite-contents-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.favorite-contents-null {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #bbbbbb;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  display: none;
}
.favorite-books {
  position: relative;
  width: 55%;
  height: 170px;
  margin: auto;
}
.favorite-books div {
  position: relative;
  width: 20%;
  height: 170px;
  float: left;
}
.favorite-books img {
  position: absolute;
  width: 100px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.favorite-books div:nth-child(2) {
  z-index: 5;
}
.favorite-books div:nth-child(3) {
  z-index: 4;
}
.favorite-books div:nth-child(4) {
  z-index: 3;
}
.favorite-books div:nth-child(5) {
  z-index: 2;
}
.favorite-books div:nth-child(6) {
  z-index: 1;
}
.favorite-shelf {
  position: relative;
  bottom: 0px;
  width: 90%;
  height: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  z-index: 6;
  margin: auto;
}


.reading-wrapper {
  position: relative;
  width: 50%;
  height: 300px;
  float: right;
  padding: 40px 20px;
}
.reading-contents-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.reading-title-wrapper {
  position: relative;
  bottom: 10px;
  padding: 0px 20px;
  height: 50px;
}
.reading-title-icon {
  position: relative;
  top: 55%;
  transform: translateY(-50%);
  float: left;
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
}
.reading-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #505050;
}
.reading-number {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  font-size: 20px;
  color: #aaaaaa;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}
.reading-books {
  position: relative;
  width: 55%;
  height: 170px;
  margin: auto;
}
.reading-books div:not(.reading-contents-null) {
  position: relative;
  width: 60px;
  height: 170px;
  float: left;
}
.reading-contents-null {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #bbbbbb;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}
.reading-books img {
  position: absolute;
  width: 90px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.reading-books div:nth-child(2) {
  z-index: 5;
}
.reading-books div:nth-child(3) {
  z-index: 4;
}
.reading-books div:nth-child(4) {
  z-index: 3;
}
.reading-books div:nth-child(5) {
  z-index: 2;
}
.reading-books div:nth-child(6) {
  z-index: 1;
}
.reading-shelf {
  position: relative;
  bottom: 0px;
  width: 90%;
  height: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  z-index: 6;
  margin: auto;
}

.order-list-wrapper {
  position: relative;
  width: 1200px;
  height: auto;
  margin: auto;
  padding-top: 10px;
}
.order-list-title-wrapper {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  margin-bottom: 10px;
  background-color: white;
  z-index: 10;
}
.order-list-title-inner-wrapper {
  position: relative;
  width: 1200px;
  height: 70px;
  margin: auto;
}
.order-list-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  display: inline-block;
  font-size: 25px;
}

.order-list-title-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  float: right;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid silver;
  cursor: pointer;
}
.order-list-title-button:hover {
  background-color: #f5f5f5;
  transition: 0.3s;
}

.order-list-title-button img {
  position: relative;
  margin-left: 18px;
}
.order-list-title-button span {
  position: relative;
  bottom: 2px;
  right: 2px;
  line-height: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}


.order-list-title-detail-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  border: 1px solid gray;
  padding: 20px;
  padding-bottom: 0;
  background-color: white;
  z-index: 100;
  display: none;
}
.detail-title {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}
.detail-title span {
  position: relative;
  left: 0px;
}
.detail-title img {
  position: relative;
  right: 0px;
  width: 20px;
  float: right;
}
.order-list-title-detail-info {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.order-list-title-detail-info li {
  font-size: 12px;
}
.order-list-title-detail-info li::marker {
  color: gray;
}

.order-list-title-detail-range {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-range-title {
  position: relative;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
}
#detail-range-select {
  position: relative;
  top: 10px;
  width: 30%;
  height: 43px;
  border-radius: 10px;
  margin-right: 3%;
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid silver;
  display: inline-block;
}
img.ui-datepicker-trigger {
  margin-left: 10px;
}
.detail-range-start-wrapper {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 30%;
  height: 43px;
  pointer-events: none;
}
.detail-range-start {
  position: absolute;
  width: 100%;
  height: 43px;
  border-radius: 10px;
  border: 1px solid silver;
  text-align: left;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.detail-range-start-icon {
  position: absolute;
  top: 12px;
  right: 10px;
}
.detail-range-between {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 3%;
  font-size: 20px;
}
.detail-range-end-wrapper {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 30%;
  height: 43px;
  pointer-events: none;
}
.detail-range-end {
  position: absolute;
  width: 100%;
  height: 43px;
  border-radius: 10px;
  border: 1px solid silver;
  text-align: left;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.detail-range-end-icon {
  position: absolute;
  top: 12px;
  right: 10px;
}
.order-list-detail-state {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-state-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
#detail-state-select {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid silver;
}

.order-list-detail-search {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-search-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.order-list-detail-search input {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  text-indent: 20px;
  outline: none;
  border: 1px solid silver;
  font-size: 20px;
}
.order-list-detail-search input::placeholder {
  font-size: 16px;
}
.order-list-detail-bottom {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}
.detail-bottom-reset {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 43px;
  border-radius: 10px;
  border: 1px solid silver;
  color: #757575;
}
.detail-bottom-reset:active {
  transform: scale(0.95);
  transition: 0.3s;
}
.detail-bottom-reset-icon {
  position: relative;
  top: 2px;
}
.detail-bottom-reset span {
  line-height: 40px;
}
.detail-bottom-reset .detail-bottom-reset-icon {
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
.detail-bottom-reset:hover .detail-bottom-reset-icon,
.detail-bottom-reset:focus .detail-bottom-reset-icon,
.detail-bottom-reset:active .detail-bottom-reset-icon {
  animation: rotate_image 1s linear infinite;
  transform-origin: 50% 50%;
}

.detail-bottom-apply {
  position: relative;
  bottom: 1px;
  display: inline-block;
  width: 25%;
  border-radius: 10px;
  height: 43px;
  background-color: cornflowerblue;
  color: white;
  line-height: 40px;
}
.detail-bottom-apply:hover {
  background-color: rgb(57, 121, 238);
  transition: 0.3s;
}
.detail-bottom-apply:active {
  transform: scale(0.95);
  transition: 0.3s;
}

.order-list-title-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  float: right;
  margin-right: 20px;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}

.order-list-top-box {
  position: relative;
  width: 100%;
  height: 90px;
  border: 1px solid silver;
  border-radius: 20px;
  list-style: none;
}
.order-list-top-box li {
  height: 100%;
  float: left;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}
.order-list-top-box li div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  border-right: 1px solid silver;
}
.order-list-top-box-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  width: 31%;
}
.order-list-top-box-title div span {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.order-list-top-box li:not(.order-list-top-box-title)  {
  position: relative;
  width: 23%;
}
.order-list-top-box li:not(.order-list-top-box-title) div {
  padding-top: 10px;
}
.order-list-top-box li:not(.order-list-top-box-title) span:first-child {
  position: relative;
  display: block;
  font-size: 20px;
  cursor: pointer;
}
.order-list-top-box li:not(.order-list-top-box-title) span:last-child {
  position: relative;
  display: block;
  font-size: 14px;
  color: gray;
}
.order-list-top-box li:last-child div {
  border-right: none;
}
.order-list-middle-box {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}
.order-list-middle-box-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.order-list-middle-box-detail {
  font-size: 12px;
  line-height: 20px;
}
.order-list-middle-box-detail li {
  
}
.order-list-middle-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: silver;
  margin: 40px 0;
}
.order-list-contents-wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
  background-color: rgb(252, 252, 252);
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  margin: 40px 0;
  margin-bottom: 0;
  justify-content: start;
}
.order-list-contents-null {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 70px;
  margin: auto;
  text-align: center;
}
.order-list-contents-null img{
  position: relative;
  width: 40px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  opacity: 0.5;
}
.order-list-contents-null {
  font-size: 14px;
}

.row-head {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.row-head .text-group {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 4.1fr 1fr 1fr;
}

.row-head .text-1 {
  padding: 20px 40px;
}

.row-head .text {
  display: grid;
  place-items: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}

.row .date-code-box {
  padding: 20px 40px;
  border-right: 1px solid #eaeaea;
}

.row .date-code-box .text {
  font-size: 14px;
  color: gray;
  margin-bottom: 2px;
}


.row .date-code-box .date {
  font-size: 14px;
  margin-bottom: 5px;
}

.row .date-code-box .order-id {
  font-size: 14px;
  margin-bottom: 10px;
}

.row .item {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  padding: 20px 40px;
  border-bottom: 1px solid whitesmoke;
}

.row .item:last-child {
  border: none;
}

.row .item .state,
.row .item .btn-box {
  display: grid;
  place-items: center;
}

.item-info img {
  width: 70px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  margin-right: 40px;
}

.item .name {
  font-weight: 900;
  margin-bottom: 5px;
}

.item .name strong {
  background-color: #fffa90;
  padding: 4px 2px;
}

.row button {
  padding: 5px 20px;
  border-radius: 5px;
}

.order-detail-btn {
  margin-bottom: 10px;
}

.member-info-wrapper {
  min-height: 300px;
  background-color: white;
}

.row-box .amount,
.row-box .price {
  font-size: 14px;
}

.row-box .split {
  color: lightgray;
  font-size: 14px;
  margin: 0 10px;
}


.controller-box {
  position: relative;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.controller {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 228px;
}

.controller-btn-left {
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller-btn-right {
  position: absolute;
  top: 2px;
  right: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller a{
  display: inline-block;
  width: 19px;
  margin: 0 2px;
  border-radius: 50%;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
}
.index-active {
 color: cornflowerblue;
}




@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1300px) {
  .order-list-title-inner-wrapper{
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .content-box {
    width: 100%;
  }
}

@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 622px;
  }
  .middle-nav {
    width: 583px;
  }
  .shelf-wrapper{
    width: 623px;
  }
  .order-list-title-inner-wrapper{
    width: 543px;
  }
  .order-list-wrapper {
    width: 623px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) translateY(-50%);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1) translateY(-50%);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1) translateY(-50%);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-50%);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) translateY(-50%);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
}

@keyframes background-color-change {
  0% {
   background-color: rgb(255, 174, 0);
  }
  25% {
    background-color: rgb(255, 110, 207);
  }
  50% {
    background-color: rgb(144, 248, 255);
  }
  100% {
    background-color: rgb(255, 174, 0);
  }
}

@keyframes border-color-change {
  0% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
  25% {
    border: 5px solid rgba(255, 87, 255, 0.5);
  }
  50% {
    border: 5px solid rgba(155, 209, 226, 0.5);
  }
  100% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
}

@keyframes border-color-change-1px {
  0% {
    border: 1px solid rgb(255, 187, 0);
  }
  30% {
    border: 1px solid rgb(255, 87, 255);
  }
  60% {
    border: 1px solid rgb(126, 221, 250);
  }
  100% {
    border: 1px solid rgb(255, 187, 0);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blurChange {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(2px);
  }
}