#underbar {
  position: absolute;
  left: 60%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 60%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 350px;
  background-image: url("/img/background/olia-gozha-J4kK8b9Fgj8-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.top-background-frame {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
  margin-top: 70px;
  border-radius: 20px;
  overflow: hidden;
  animation: bounce-top 0.9s both;
}
.top-background {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 110px;
  background-image: url("/img/background/olia-gozha-J4kK8b9Fgj8-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  filter: blur(2px);
  mix-blend-mode: color-dodge;
}
.top-background::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgb(0, 30, 255);
  mix-blend-mode: color-dodge;
  border-radius: 20px;
  opacity: 0.1;
}
.top-back-title-wrapper {
  position: relative;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
  margin-top: 70px;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 20px 40px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.profile {
  position: relative;
  top: 0px;
  left: 0px;
  width: 60px;
  border-radius: 30px;
  border: 1px solid rgb(182, 182, 182);
  float: left;
  opacity: 0.5;
}

.top-back-title {
  position: relative;
  height: 40px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.top-back-title-name{
  position: relative;
  bottom: 5px;
  float: left;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 40px;
}
.top-back-title-text {
  position: relative;
  top: 4px;
  font-size: 25px;
  font-weight: 600;
  height: 40px;
  float: left;
}
.top-back-title-following {
  position: relative;
  top: 15px;
  float: left;
  margin-left: 10px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 30px;
}
.top-back-title-follower {
  position: relative;
  top: 15px;
  float: left;
  margin-left: 5px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 30px;
}
.top-back-setting {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  opacity: 0.7;
  cursor: pointer;
}


.top-back-point-wrapper {
  position: relative;
  height: 20px;
  left: 10px;
  padding: 0 20px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.top-back-point-icon {
  position: relative;
  width: 15px;
  float: left;
  margin-right: 5px;
}
.top-back-point-text {
  position: relative;
  bottom: 5px;
  height: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

.top-space {
  position: relative;
  width: 100%;
  height: 280px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
}
.middle-nav-container {
  position: relative;
  width: 1000px;
  height: 45px;
  margin: auto;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-nav div:not(.middle-nav-underbar) {
  position: relative;
  width: 25%;
  float: left;
  margin: 10px 0;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  cursor: pointer;
}
.middle-nav-underbar {
  position: absolute;
  bottom: 1px;
  left: 0%;
  width: 25%;
  height: 3px;
  background-color: #000000;
  opacity: 0.5;
}
/* .entire-book-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  padding-top: 10px;
}
.entire-book-title-background {
  position: fixed;
  top: 105px;
  width: 110%;
  height: 40px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
}
.entire-book-title {
  position: relative;
  width: 1280px;
  height: 40px;
  margin: auto;
  padding: 0 80px;
  font-family: 'Noto Sans KR', sans-serif;
  z-index: 10;
}
.entire-book-number {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  float: left;
  cursor: pointer;
}
.entire-book-number-list {
  position: absolute;
  top: 29px;
  right: 25px;
  list-style: none;
  color: black;
  width: 130px;
  height: 0px;
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  z-index: 10;
}
.entire-book-number-list li {
  position: relative;
  display: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  font-family: none;
  font-weight: 900;
  font-size: 12px;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.6);
}
.entire-book-number-text {
  position: relative;
  float: left;
  margin-right: 5px;
}
.entire-book-number img {
  position: relative;
  bottom: -3px;
  left: 0px;
  width: 14px;
}

.entire-book-order {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
.entire-book-order span {
  float: right;
  color: black;
}
.entire-book-order img {
  position: relative;
  bottom: -7px;
  right: 0px;
  width: 14px;
  float: right;
  margin-left: 5px;
}
.entire-book-order-list {
  position: absolute;
  left: -8px;
  top: 29px;
  list-style: none;
  color: rgb(0, 0, 0);
  width: 120px;
  height: 0px;
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  z-index: 10;
}

.entire-book-order-list li {
  position: relative;
  display: none;
  width: 101px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  font-family: none;
  font-weight: 900;
  font-size: 12px;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.6);
}
.entire-book-order-list-background {
  position: fixed;
  top: 170px;
  right: 100px;
  width: 101px;
  height: 116px;

}
.entire-book-search {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  height: 70px;
  cursor: pointer;
}
.entire-book-search input {
  position: relative;
  top: 51%;
  transform: translateY(-50%);
  width: 0px;
  height: 30px;
  display: none;
  margin-right: 10px;
  border-radius: 10px;
  text-indent: 45px;
  font-size: 20px;
  border: 1px solid lightgray;
}
.entire-book-search img:first-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  width: 18px;
  z-index: 10;
  opacity: 0.7;
}

.entire-book-search img:nth-child(3) {
  position: relative;
  top: 53%;
  transform: translateY(-50%);
  opacity: 0.5;
  width: 20px;
}

.entire-book-search-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  display: none;
  float: right;
  color: gray;
}

.entire-book {
  position: relative;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  list-style: none;
  display: inline-block;
  margin-bottom: 40px;
}
.entire-book li {
  position: relative;
  float: left;
  width: 20%;
  height: 380px;
}
.entire-book li div:first-child {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.entire-book li div:first-child img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.entire-book li div {
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
}
.entire-book li div:nth-child(2) {
  height: 25px;
}
.entire-book li div:nth-child(2) span {
  font-family: 'Noto Sans KR', sans-serif;
  float: left;
}
.entire-book li div:nth-child(2) img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 16px;
  float: right;
  opacity: 0.5;
}
.entire-book li div:nth-child(3) {
  font-weight: 900;
  font-size: 14px;
  color: #848484;
}
.entire-book li div:nth-child(3) span {
  position: absolute;
  left: 0px;
} */


.shelf-wrapper {
  position: relative;
  width: 1200px;
  height: 360px;
  margin: auto;
  padding: 0px 20px;
}
.favorite-wrapper {
  position: relative;
  width: 50%;
  height: 360px;
  float: left;
  padding: 40px 20px;
}
.favorite-title-wrapper {
  position: relative;
  bottom: 10px;
  padding: 0px 20px;
  height: 50px;
}
.favorite-title-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
}
.favorite-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #505050;
}
.favorite-number {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  font-size: 20px;
  color: #aaaaaa;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}
.favorite-contents-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.favorite-contents-null {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #bbbbbb;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  display: none;
}
.favorite-books {
  position: relative;
  width: 55%;
  height: 170px;
  margin: auto;
}
.favorite-books div {
  position: relative;
  width: 20%;
  height: 170px;
  float: left;
}
.favorite-books img {
  position: absolute;
  width: 100px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.favorite-books div:nth-child(2) {
  z-index: 5;
}
.favorite-books div:nth-child(3) {
  z-index: 4;
}
.favorite-books div:nth-child(4) {
  z-index: 3;
}
.favorite-books div:nth-child(5) {
  z-index: 2;
}
.favorite-books div:nth-child(6) {
  z-index: 1;
}
.favorite-shelf {
  position: relative;
  bottom: 0px;
  width: 90%;
  height: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  z-index: 6;
  margin: auto;
}


.reading-wrapper {
  position: relative;
  width: 50%;
  height: 300px;
  float: right;
  padding: 40px 20px;
}
.reading-contents-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.reading-title-wrapper {
  position: relative;
  bottom: 10px;
  padding: 0px 20px;
  height: 50px;
}
.reading-title-icon {
  position: relative;
  top: 55%;
  transform: translateY(-50%);
  float: left;
  width: 20px;
  margin-right: 10px;
  opacity: 0.5;
}
.reading-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #505050;
}
.reading-number {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  font-size: 20px;
  color: #aaaaaa;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: pointer;
}
.reading-books {
  position: relative;
  width: 55%;
  height: 170px;
  margin: auto;
}
.reading-books div:not(.reading-contents-null) {
  position: relative;
  width: 60px;
  height: 170px;
  float: left;
}
.reading-contents-null {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #bbbbbb;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}
.reading-books img {
  position: absolute;
  width: 90px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
.reading-books div:nth-child(2) {
  z-index: 5;
}
.reading-books div:nth-child(3) {
  z-index: 4;
}
.reading-books div:nth-child(4) {
  z-index: 3;
}
.reading-books div:nth-child(5) {
  z-index: 2;
}
.reading-books div:nth-child(6) {
  z-index: 1;
}
.reading-shelf {
  position: relative;
  bottom: 0px;
  width: 90%;
  height: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  z-index: 6;
  margin: auto;
}




.record-wrapper {
  position: relative;
  width: 1200px;
  height: 651px;
  margin: auto;
  display: none;
}
.record-top {
  position: relative;
  width: 100%;
  height: 90px;
  padding: 20px;
  padding-bottom: 0px;
}
.record-sort {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  color: #b3b3b3;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.record-sort-month {
  position: absolute;
  top: 13px;
  left: 19px;
  z-index: 1;
  color: cornflowerblue;
}
.record-sort-year {
  position: absolute;
  top: 13px;
  left: 85px;
  z-index: 1;
}
.record-sort-sum {
  position: absolute;
  top: 13px;
  left: 150px;
  z-index: 1;
}
.record-sort-button {
  position: absolute;
  top: 5px;
  left: 5px; 
  /* 5 70 135 */
  width: 60px;
  height: 40px;
  background-color: white;
  border-radius: 15px;
  /* display: none; */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.record-question {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 30px;
  opacity: 0.3;
  cursor: pointer;
}



.record-question-box {
  position: absolute;
  top: 70px;
  right: 40px;
  width: 600px;
  height: auto;
  background-color: white;
  padding: 20px;
  border: 1px solid silver;
  z-index: 1;
  display: none;
}
.record-question-info {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}
.record-question-info span {
  position: relative;
  float: left;
  padding-left: 10px;
}
.record-question-info img {
  position: relative;
  float: right;
  width: 15px;
  opacity: 0.7;
}

.record-question-book-wrapper {
  position: relative;
  width: 100%;
  height: 83px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.record-question-book-wrapper img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  float: left;
  margin-right: 5%;
}
.record-question-book-right {
  position: relative;
  width: 90%;
  height: 100%;
  display: inline-block;
}
.record-question-book-title {
  position: relative;
  color: #5c5c5c;
  font-weight: 900;
  margin-bottom: 5px;
}
.record-question-book-info {
  position: relative;
  color: #797979;
  font-size: 12px;
}

.record-question-time-wrapper {
  position: relative;
  width: 100%;
  height: 83px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.record-question-time-wrapper img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  float: left;
  margin-right: 5%;
}
.record-question-time-right {
  position: relative;
  width: 90%;
  height: 100%;
  display: inline-block;
}
.record-question-time-title {
  position: relative;
  color: #5c5c5c;
  font-weight: 900;
  margin-bottom: 5px;
}
.record-question-time-info {
  position: relative;
  color: #797979;
  font-size: 12px;
}

.record-question-routine-wrapper {
  position: relative;
  width: 100%;
  height: 83px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.record-question-routine-wrapper img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  float: left;
  margin-right: 5%;
}
.record-question-routine-right {
  position: relative;
  width: 90%;
  height: 100%;
  display: inline-block;
}
.record-question-routine-title {
  position: relative;
  color: #5c5c5c;
  font-weight: 900;
  margin-bottom: 5px;
}
.record-question-routine-info {
  position: relative;
  color: #797979;
  font-size: 12px;
}
.record-question-box li {
  line-height: 30px;
  font-size: 12px;
  color: gray;
}
.record-question-box li::marker {
  color: #989898;
}

.record-contents-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.record-contents{
  position: relative;
  width: 33.33%;
  height: 200px;
  float: left;
  padding: 20px;
  padding-top: 0px;
}
.record-book {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.record-book-left {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.record-book-icon {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  width: 60px;
  opacity: 0.5;
}
.record-book-title {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  font-weight: 600;
  color: rgb(170, 152, 140);
}

.record-book-right {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
}
.record-book-number {
  position: relative;
  top: 28%;
  transform: translateY(-50%);
  font-family: 'Noto Serif KR', serif;
  font-weight: 900;
  font-size: 50px;
  color: #5c5c5c;
}
.record-book-text {
  position: relative;
  top: 23%;
  transform: translateY(-50%);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: silver;
}



.record-time {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.record-time-left {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.record-time-icon {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  width: 60px;
  opacity: 0.5;
}
.record-time-title {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: rgb(170, 152, 140);
}

.record-time-right {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
}
.record-time-hour {
  position: relative;
  top: 10px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 900;
  font-size: 50px;
  color: #5c5c5c;
  width: 50%;
  height: 50%;
  float: left;
  line-height: 90px;
  text-align: right;
}
.record-time-hour-text {
  position: relative;
  top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px; 
  color: silver;
  width: 50%;
  height: 50%;
  float: right;
  line-height: 100px;
  text-align: left;
  padding-left: 5px;
}
.record-time-minute {
  position: relative;
  font-family: 'Noto Serif KR', serif;
  font-weight: 900;
  font-size: 50px;
  color: #5c5c5c;
  width: 50%;
  height: 50%;
  float: left;
  line-height: 50px;
  text-align: right;
}
.record-time-minute-text {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px; 
  color: silver;
  width: 50%;
  height: 50%;
  float: right;
  line-height: 60px;
  text-align: left;
  padding-left: 5px;
}



.record-routine {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.record-routine-left {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}
.record-routine-right {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
}
.record-routine-icon {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  width: 60px;
  opacity: 0.5;
}
.record-routine-title {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: rgb(170, 152, 140);
}
.record-routine-day {
  position: relative;
  top: 10px;
  font-family: 'Noto Serif KR', serif;
  font-weight: 900;
  font-size: 50px;
  color: #5c5c5c;
  width: 50%;
  height: 50%;
  float: left;
  line-height: 90px;
  text-align: right;
}
.record-routine-day-text {
  position: relative;
  top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: silver;
  width: 50%;
  height: 50%;
  float: right;
  line-height: 100px;
  text-align: left;
  padding-left: 5px;
}
.record-routine-count {
  position: relative;
  font-family: 'Noto Serif KR', serif;
  font-weight: 900;
  font-size: 50px;
  color: #5c5c5c;
  width: 50%;
  height: 50%;
  float: left;
  line-height: 50px;
  text-align: right;
}
.record-routine-count-text {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px; 
  color: silver;
  width: 50%;
  height: 50%;
  float: right;
  line-height: 60px;
  text-align: left;
  padding-left: 5px;
}


.record-graph-wrapper {
  position: relative;
  width: 95%;
  height: 310px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 210px;
}
.record-graph-container {
    position: relative;
    width: 100%;
    height: 260px;
}
.record-graph-1,
.record-graph-2,
.record-graph-3 {
  position: relative;
  float: left;
  width: 33.33%;
  height: 100%;
}
.record-graph-stick-wrapper-1,
.record-graph-stick-wrapper-2,
.record-graph-stick-wrapper-3 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  margin: auto;
  padding-top: 25px;
}
.record-graph-data-label-1,
.record-graph-data-label-2,
.record-graph-data-label-3 {
  position: relative;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 25px;
  background-color: #fff4db;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Noto Sans KR', sans-serif;
}
.record-graph-stick-1,
.record-graph-stick-2,
.record-graph-stick-3 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  background-color: #ffd16d;
}
.record-graph-x-axis {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  margin: auto;
  background-color: #b3b3b3;
}
.record-graph-name-1,
.record-graph-name-2,
.record-graph-name-3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  font-family: 'Noto Sans KR', sans-serif;
}
.record-graph-name-3 {
  color: cornflowerblue;
}




.order-list-wrapper {
  position: relative;
  width: 1200px;
  height: auto;
  margin: auto;
  padding-top: 10px;
  display: none;
}
.order-list-title-wrapper {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  margin-bottom: 10px;
  background-color: white;
  z-index: 10;
  display: none;
}
.order-list-title-inner-wrapper {
  position: relative;
  width: 1200px;
  height: 70px;
  margin: auto;
}
.order-list-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  display: inline-block;
  font-size: 25px;
}

.order-list-title-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  float: right;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid silver;
  cursor: pointer;
}
.order-list-title-button:hover {
  background-color: #f5f5f5;
  transition: 0.3s;
}

.order-list-title-button img {
  position: relative;
  margin-left: 18px;
}
.order-list-title-button span {
  position: relative;
  bottom: 2px;
  right: 2px;
  line-height: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}


.order-list-title-detail-wrapper {
  position: absolute;
  right: 0px;
  top: 60px;
  width: 600px;
  height: auto;
  border: 1px solid gray;
  padding: 20px;
  padding-bottom: 0;
  background-color: white;
  z-index: 10;
  display: none;
}
.detail-title {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}
.detail-title span {
  position: relative;
  left: 0px;
}
.detail-title img {
  position: relative;
  right: 0px;
  width: 20px;
  float: right;
}
.order-list-title-detail-info {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.order-list-title-detail-info li {
  font-size: 12px;
}
.order-list-title-detail-info li::marker {
  color: gray;
}

.order-list-title-detail-range {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-range-title {
  position: relative;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
}
#detail-range-select {
  position: relative;
  top: 10px;
  width: 30%;
  height: 43px;
  border-radius: 10px;
  margin-right: 3%;
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid silver;
  display: inline-block;
}
img.ui-datepicker-trigger {
  margin-left: 10px;
}
.detail-range-start-wrapper {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 30%;
  height: 43px;
  pointer-events: none;
}
.detail-range-start {
  position: absolute;
  width: 100%;
  height: 43px;
  border-radius: 10px;
  border: 1px solid silver;
  text-align: left;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.detail-range-start-icon {
  position: absolute;
  top: 12px;
  right: 10px;
}
.detail-range-between {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 3%;
  font-size: 20px;
}
.detail-range-end-wrapper {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 30%;
  height: 43px;
  pointer-events: none;
}
.detail-range-end {
  position: absolute;
  width: 100%;
  height: 43px;
  border-radius: 10px;
  border: 1px solid silver;
  text-align: left;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.detail-range-end-icon {
  position: absolute;
  top: 12px;
  right: 10px;
}
.order-list-detail-state {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-state-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
#detail-state-select {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  text-indent: 10px;
  border: 1px solid silver;
}

.order-list-detail-search {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.detail-search-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.order-list-detail-search input {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  text-indent: 20px;
  outline: none;
  border: 1px solid silver;
  font-size: 20px;
}
.order-list-detail-search input::placeholder {
  font-size: 16px;
}
.order-list-detail-bottom {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}
.detail-bottom-reset {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 43px;
  border-radius: 10px;
  border: 1px solid silver;
  color: #757575;
}
.detail-bottom-reset:active {
  transform: scale(0.95);
  transition: 0.3s;
}
.detail-bottom-reset-icon {
  position: relative;
  top: 2px;
}
.detail-bottom-reset span {
  line-height: 40px;
}
.detail-bottom-reset .detail-bottom-reset-icon {
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
.detail-bottom-reset:hover .detail-bottom-reset-icon,
.detail-bottom-reset:focus .detail-bottom-reset-icon,
.detail-bottom-reset:active .detail-bottom-reset-icon {
  animation: rotate_image 1s linear infinite;
  transform-origin: 50% 50%;
}

.detail-bottom-apply {
  position: relative;
  bottom: 1px;
  display: inline-block;
  width: 25%;
  border-radius: 10px;
  height: 43px;
  background-color: cornflowerblue;
  color: white;
  line-height: 40px;
}
.detail-bottom-apply:hover {
  background-color: rgb(57, 121, 238);
  transition: 0.3s;
}
.detail-bottom-apply:active {
  transform: scale(0.95);
  transition: 0.3s;
}

.order-list-title-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  float: right;
  margin-right: 20px;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}

.order-list-top-box {
  position: relative;
  width: 100%;
  height: 90px;
  border: 1px solid silver;
  border-radius: 20px;
  list-style: none;
}
.order-list-top-box li {
  height: 100%;
  float: left;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}
.order-list-top-box li div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  border-right: 1px solid silver;
}
.order-list-top-box-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  width: 31%;
}
.order-list-top-box-title div span {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.order-list-top-box li:not(.order-list-top-box-title)  {
  position: relative;
  width: 23%;
}
.order-list-top-box li:not(.order-list-top-box-title) div {
  padding-top: 10px;
}
.order-list-top-box li:not(.order-list-top-box-title) span:first-child {
  position: relative;
  display: block;
  font-size: 20px;
  cursor: pointer;
}
.order-list-top-box li:not(.order-list-top-box-title) span:last-child {
  position: relative;
  display: block;
  font-size: 14px;
  color: gray;
}
.order-list-top-box li:last-child div {
  border-right: none;
}
.order-list-middle-box {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
}
.order-list-middle-box-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.order-list-middle-box-detail {
  font-size: 12px;
  line-height: 20px;
}
.order-list-middle-box-detail li {
  
}
.order-list-middle-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: silver;
  margin: 40px 0;
}
.order-list-contents-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgb(252, 252, 252);
  margin-bottom: 20px;
}
.order-list-contents-null {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  height: 70px;
  margin: auto;
  text-align: center;
}
.order-list-contents-null img{
  position: relative;
  width: 40px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  opacity: 0.5;
}
.order-list-contents-null {
  font-size: 14px;
}


@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1300px) {
  .order-list-title-inner-wrapper{
    width: 100%;
  }
}
@media only screen and (max-width:1280px) {
  .entire-book-title{
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .entire-book {
    width: 100%;
    padding: 0 20px;
  }
  .record-wrapper {
    width: 100%;
  }
  .shelf-wrapper{
    width: 100%;
  }
  .order-list-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width:1000px) {
  .middle-nav-container {
    width: 100%;
  }
  .entire-book li{
    width: 196px;
  }  
}
@media only screen and (max-width:900px) {
  .record-book-title {
    font-size: 20px;
  }
  .record-time-title {
    font-size: 16px;
  }
  .record-routine-title {
    font-size: 16px;
  }
  .record-book-number {
    font-size: 30px;
  }
  .record-book-text {
    font-size: 14px;
  }
  .record-time-hour {
    font-size: 30px;
  }
  .record-time-minute {
    font-size: 30px;
  }
  .record-time-hour-text {
    font-size: 14px;
  }
  .record-time-minute-text {
    font-size: 14px;
  }
  .record-routine-day {
    font-size: 30px;
  }
  .record-routine-count {
    font-size: 30px;
  }
  .record-routine-day-text {
    font-size: 14px;
  }
  .record-routine-count-text {
    font-size: 14px;
  }
  .record-book-number, .record-book-text {
    top: 35%;
  }
}
@media only screen and (max-width:724px) {
  .entire-book-title {
    width: 704px;
  }
}
@media only screen and (max-width:700px) {
  .record-wrapper {
    width: 683px;
  }
}
@media only screen and (max-width:647px) {
  .entire-book-wrapper {
    width: 628px;
  }
}
@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 622px;
  }
  .middle-nav {
    width: 583px;
  }
  .shelf-wrapper{
    width: 623px;
  }
  .order-list-title-inner-wrapper{
    width: 543px;
  }
  .order-list-wrapper {
    width: 623px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) translateY(-50%);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1) translateY(-50%);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1) translateY(-50%);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-50%);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) translateY(-50%);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(-50%);
  }
}

@keyframes background-color-change {
  0% {
   background-color: rgb(255, 174, 0);
  }
  25% {
    background-color: rgb(255, 110, 207);
  }
  50% {
    background-color: rgb(144, 248, 255);
  }
  100% {
    background-color: rgb(255, 174, 0);
  }
}

@keyframes border-color-change {
  0% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
  25% {
    border: 5px solid rgba(255, 87, 255, 0.5);
  }
  50% {
    border: 5px solid rgba(155, 209, 226, 0.5);
  }
  100% {
    border: 5px solid rgba(255, 187, 0, 0.5);
  }
}

@keyframes border-color-change-1px {
  0% {
    border: 1px solid rgb(255, 187, 0);
  }
  30% {
    border: 1px solid rgb(255, 87, 255);
  }
  60% {
    border: 1px solid rgb(126, 221, 250);
  }
  100% {
    border: 1px solid rgb(255, 187, 0);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}