* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin: 0;
}
body::-webkit-scrollbar {
  width: 15px;
  background-color: white;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  box-shadow: 0px 0px 50px 0px black;
  border: 3px solid #e3e3e3;
  border-radius: 10px;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 6;
}

.top-nav-background {
  position: relative;
  top: 0px;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.top-nav-wrapper {
  position: relative;
  width: 1280px;
  height: 70px;
  margin: auto;
  bottom: 70px;
  padding: 20px;
}
.top-logo-wrapper {
  width: 140px;
}
#top-logo {
  position: relative;
  left: 10px;
  width: 30px;
  cursor: pointer;
}

.top-title {
  position: absolute;
  left: 62px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.news-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 180px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#news {
  position: absolute;
  width: 20px;
  opacity: 0.5;
}
#news-n {
  position: absolute;
  top: -6px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-color: #ffae00;
  border-radius: 8px;
  font-size: 6px;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  text-align: center;
  padding-right: 1px;
  padding-bottom: 2px;
}
.news-wrapper:hover {
  transform: translateY(-50%) scale(1.05);
}
.news-wrapper:active {
  transform: translateY(-50%) scale(0.95);
  transition: 0.3s;
}
#cart {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 142px;
  width: 20px;
  opacity: 0.5;
  cursor: pointer;
}
#cart:hover {
  transform: translateY(-50%) scale(1.1);
}
#cart:active {
  transform: translateY(-50%) scale(0.95);
  transition: 0.3s;
}
.login-button {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 80px;
  height: 30px;
  border-radius: 7px;
  background-color: gray;
  border: none;
  color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  transition-property: color;
  transition-duration: 0.3s;
  cursor: pointer;
  z-index: 7;
}

.login-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ffcd60;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  filter: blur(5px);

}

.login-button:hover,
.login-button:focus,
.login-button:active {
  color: rgb(87, 87, 87);
}

.login-button:hover:before,
.login-button:focus:before,
.login-button:active:before {
  transform: scale(4);
}

.login-button:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.top-nav {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  left: 180px;
}

.top-nav ul li:nth-child(5) {
  color: #000000;
}

.top-nav ul li:not(:nth-child(5)) {
  color: rgb(180, 180, 180);
}
.top-nav ul li a {
  color: rgb(180, 180, 180);
  text-decoration: none;
}
.top-nav ul li {
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  left: 21px;
  width: auto;
  display: inline-block;
  cursor: pointer;

}

.top-nav ul li:active {
  transform: scale(0.9);
  transition: 0.1s;
}

#underbar {
  position: absolute;
  left: 422px;
  /* 122 222 322 422*/
  top: 40px;
  background: #ffd16d;
  width: 80px;
  height: 4px;
}



/* ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt */

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 290px;
  background-image: url("../img/background/brando-makes-branding-PjhOkwN0ruY-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(110%);
}

.top-back-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 20px;
  display: none;
}

.top-space {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
}
.middle-nav-container {
  position: relative;
  width: 1000px;
  height: 45px;
  margin: auto;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-nav div:not(.middle-nav-underbar) {
  position: relative;
  width: 25%;
  float: left;
  margin: 10px 0;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  cursor: pointer;
}
.middle-nav-underbar {
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 25%;
  height: 3px;
  background-color: #000000;
  opacity: 0.5;
}




.notice-wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 40px;
}
.notice-title-wrapper{
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.notice-title-wrapper .title {
  position: relative;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}

.detail-wrapper {
  position: relative;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding-top: 30px;
}
.detail-wrapper .title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 5px;
}
.detail-wrapper .lock {
}
.detail-wrapper .sub-title {
  padding: 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
.detail-wrapper .sub-title .type {
  font-size: 14px;
}
.detail-wrapper .split {
  font-size: 12px;
  color: #989898;
}
.detail-wrapper .sub-title .date{
  font-size: 14px;
}
.detail-wrapper .sub-title .edit{
  font-size: 14px;
  font-weight: 900;
  float: right;
  margin-right: 20px;
  color: #848484;
}
.detail-wrapper .sub-title .remove{
  font-size: 14px;
  font-weight: 900;
  float: right;
  color: #848484;
}
.detail-wrapper .contents{
  padding: 40px 20px;
  font-size: 15px;

}

.prev-detail {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ececec;
}
.prev-detail .prev {
  line-height: 70px;
  color: dimgray;
}
.prev-detail img {
  position: relative;
  bottom: 2px;
  line-height: 70px;
  width: 10px;
  opacity: 0.5;
}
.prev-detail .title {
  line-height: 70px;
  text-decoration: none;
  color: dimgray;
  margin-left: 20px;
}

.next-detail {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ececec;
}
.next-detail .next {
  line-height: 70px;
  color: dimgray;
}
.next-detail img {
  position: relative;
  bottom: 4px;
  line-height: 70px;
  width: 10px;
  transform: rotate(180deg);
  opacity: 0.5;
}
.next-detail .title {
  line-height: 70px;
  text-decoration: none;
  color: dimgray;
  margin-left: 20px;
}
.back-button {
  width: 150px;
  height: 50px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  color: cornflowerblue;
  text-align: center;
  line-height: 47px;
  margin: auto;
  margin-top: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
.footer-wrapper {
  position: relative;
  border-top: 1px solid #ebebeb;
  background-color: white;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 1280px;
  height: auto;
  margin: auto;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 30px;
}

.footer-title {
  position: relative;
  bottom: 40px;
  left: 30px;
}

.footer-infor-title {
  position: relative;
  bottom: 32px;
  color: rgb(175, 174, 174);
  font-size: 12px;
  cursor: pointer;
}

footer img {
  position: relative;
  width: 25px;
  bottom: 10px;
}

footer p {
  position: relative;
  bottom: 20px;
  font-size: 8px;
  color: #b4b4b4;
  display: none;
}

footer ul {
  position: relative;
  bottom: 4px;
  list-style: none;
}

footer ul li {
  float: left;
  font-size: 14px;
  margin-right: 58px;
  color: #848484;
  cursor: pointer;
}

.footer-last {
  position: relative;
  width: 220px;
  top: 12px;
  font-size: 10px;
  font-weight: 100;
  text-align: left;
  color: #989898;
}

.footer-nav-wrapper {
  position: fixed;
  bottom: 0px;
  display: none;
}



.bottom-nav-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  padding: 0 40px;
  border-top: 1px solid #ebebeb;
  z-index: 10;
}

.bottom-nav {
  width: 1000px;
  margin: auto;
}

.bottom-nav ul {
  position: relative;
  list-style: none;
  width: 100%;
  height: 50px;
  margin-top: 0;
}

.bottom-nav ul li {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

.bottom-nav ul li img {
  position: relative;
  width: 20px;
}

.bottom-nav ul li:not(:first-child) img {
  opacity: 0.5;
}

.bottom-nav ul li div {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  opacity: 0.7;
}
.bottom-nav ul li a {
   color: #000000;
  text-decoration: none;
}

#overbar {
  position: absolute;
  left: 80%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.top-move-button {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 25px;
  text-align: center;
  border: 1px solid #dadada;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 20;
}

/* -------------------------------------------------------------------------------------------------------------------------cssss */
@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1280px) {
  .top-nav-wrapper {
    width: 100%;
  }
  .top-back {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .review-wrapper {
    width: 100%;
  }
  .notice-wrapper {
    width: 100%;
  } 
  .notice-wrapper {
    width: 100%;
  }
  .winner-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width:1000px) {
  .top-nav {
    animation: fadeout 0.3s both;
  }
  #underbar {
    display: none;
  }
  .middle-nav-container {
    width: 100%;
  }
  .bottom-nav {
    width: 100%;
  }
}
 
@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 638px;
  }
  .middle-nav {
    width: 583px;
  }
  .notice-wrapper {
    width: 626px;
  }
}

@media only screen and (max-width:400px) {
  .top-nav-wrapper {
    width: 384px;
  }
}
@media only screen and (max-width:350px) {
  .bottom-nav-wrapper {
    width: 350px;
  }
}



/* ----------------------------------------------------------------------------------------- */


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}