#underbar {
  position: absolute;
  left: 422px;
  /* 122 222 322 422*/
  top: 40px;
  background: #ffd16d;
  width: 80px;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 80%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.meta-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
}

.top-back-wrapper {
  position: fixed;
  width: 100%;
  height: 290px;
  background-image: url("/img/background/brando-makes-branding-PjhOkwN0ruY-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(110%);
}

.top-back-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 20px;
  display: none;
}

.top-space {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: -1;
}

.middle-nav-wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 0 20px;
  z-index: 10;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.05);
  border-bottom:1px solid #ebebeb;
}
.middle-nav-container {
  position: relative;
  width: 1000px;
  height: 45px;
  margin: auto;
}
.middle-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-nav div:not(.middle-nav-underbar) {
  position: relative;
  width: 25%;
  float: left;
  margin: 10px 0;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  cursor: pointer;
}
.middle-nav-underbar {
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 25%;
  height: 3px;
  background-color: #000000;
  opacity: 0.5;
}




.notice-wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 40px;
}
.notice-title-wrapper{
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.notice-title-wrapper .title {
  position: relative;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}

.detail-wrapper {
  position: relative;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding-top: 30px;
}
.detail-wrapper .title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-bottom: 5px;
}
.detail-wrapper .lock {
}
.detail-wrapper .sub-title {
  padding: 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
.detail-wrapper .sub-title .type {
  font-size: 14px;
}
.detail-wrapper .split {
  font-size: 12px;
  color: #989898;
}
.detail-wrapper .sub-title .date{
  font-size: 14px;
}
.detail-wrapper .sub-title .edit{
  font-size: 14px;
  font-weight: 900;
  float: right;
  margin-right: 20px;
  color: #848484;
}
.detail-wrapper .sub-title .remove{
  font-size: 14px;
  font-weight: 900;
  float: right;
  color: #848484;
}
.detail-wrapper .contents{
  padding: 40px 20px;
  font-size: 15px;

}

.prev-detail {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ececec;
}
.prev-detail .prev {
  line-height: 70px;
  color: dimgray;
}
.prev-detail img {
  position: relative;
  top: 2px;
  line-height: 70px;
  width: 15px;
}
.prev-detail .title {
  line-height: 70px;
  text-decoration: none;
  color: dimgray;
  margin-left: 20px;
}

.next-detail {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ececec;
}
.next-detail .next {
  line-height: 70px;
  color: dimgray;
}
.next-detail img {
  position: relative;
  top: 2px;
  line-height: 70px;
  width: 15px;
  transform: rotate(180deg);
}
.next-detail .title {
  line-height: 70px;
  text-decoration: none;
  color: dimgray;
  margin-left: 20px;
}
.back-button {
  width: 150px;
  height: 50px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  color: cornflowerblue;
  text-align: center;
  line-height: 47px;
  margin: auto;
  margin-top: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (max-width:1333px) {
  .top-background {
    width: 100%;
  }
  .top-back-title-wrapper {
    width: 91%;
  }
  .top-background-frame {
    width: 91%;
  }
}
@media only screen and (max-width:1280px) {
  .top-back {
    width: 100%;
  }
}
@media only screen and (max-width:1200px) {
  .review-wrapper {
    width: 100%;
  }
  .notice-wrapper {
    width: 100%;
  } 
}
@media only screen and (max-width:1000px) {
  .middle-nav-container {
    width: 100%;
  }
}
 
@media only screen and (max-width:640px) {
  .top-back-wrapper {
    width: 638px;
  }
  .middle-nav {
    width: 583px;
  }
  .notice-wrapper {
    width: 626px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}