#underbar {
  position: absolute;
  left: 20%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 20%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}



.search-input-wrapper {
  position: fixed;
  top: 60px;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}
.search-input-wrapper:hover .reset {
  opacity: 0.2;
  transition: 0.3s;
}
.search-input {
  position:relative;
  width: 1280px;
  height: 100px;
  margin: auto;
}
.search-input input {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  border: none;
  text-indent: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  outline: none;
}
.search-input input::placeholder {
  color: #bebebe;
}
.search-input .icon {
 position: absolute;
 top: 50%;
 left: 0px;
 transform: translateY(-50%);
 left: 40px;
 width: 30px;
 opacity: 0.4;
 z-index: 5;
}
.search-input .reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 20px;
  opacity: 0;
}

.search-result-wrapper {
  position: relative;
  width: 100%;
  max-height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #e3e3e3;
}
.search-result-wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(248, 248, 248);
}
.search-result-wrapper::-webkit-scrollbar-thumb {
  background-color: cornflowerblue;
  border-radius: 2px;
}

.search-result-category {
  position: relative;
  width: 1200px;
  margin: 10px auto;
  padding: 15px 30px;
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
  background-color: white;
}
.search-result-category:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.search-result-category:first-child {
  margin-top: 20px;
}
.search-result-category:last-child {
  margin-bottom: 40px;
}
.search-result-category .title {
  position: relative;
  font-size: 12px;
  color: #888888;
}
.search-result-category a {
  text-decoration: none;
}
.search-result-category .data {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #a1a1a1;
}

.search-result-book {
  position: relative;
  width: 1280px;
  height: 50px;
  margin: auto;
  padding: 10px 40px;
}
.search-result-book:hover .data {
  color: #232323;
  transition: 0.5s;
}
.search-result-book:first-child {
  margin-top: 10px;
}
.search-result-book:last-child {
  margin-bottom: 10px;
}
.search-result-book a{
  position: absolute;
  text-decoration: none;
}
.search-result-book img {
  position: relative;
    top: 0px;
    width: 30px;
    margin-right: 20px;
    opacity: 0.4;
}
.search-result-book .data {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #a1a1a1;
}
.search-result-wrapper strong {
  color: #005bff;
}


.recommend-and-trend {
  position: relative;
  width: 1280px;
  height: auto;
  margin: auto;
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
}

.recommend-wrapper {
  position: relative;
  width: 50%;
  padding: 20px;
}
.recommend-title {
  position: relative;
  top: 10px;
  left: 0px;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px;
}
.recommend-wrapper ul{
  list-style: none;
  padding: 0 20px;
}
.recommend-wrapper ul li {
  height: 40px;
  width: auto;
  display: inline-block;
  border: 1px solid #b4b4b4;
  border-radius: 15px;
  padding: 10px 30px;
  padding-bottom: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #8f8f8f;
  cursor: pointer;
}
.recommend-wrapper ul li:hover {
  color: #d1a000;
  border: 1px solid #ffc400;
  transition: 0.5s;

}

.trend-wrapper {
  position: relative;
  width: 50%;
  padding: 20px;
}
.trend-title {
  position: relative;
  top: 10px;
  left: 0px;
  font-size: 25px;
  padding: 20px 0;
}
.trend-title span {
  display: inline;
}
.trend-title span:first-child {
  font-family: 'Noto Sans KR', sans-serif;
}
.trend-current-time {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #969696;
}
.trend-wrapper .inner-box {
  width: 100%;
  display: flex;
  margin-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}
.trend-wrapper ul{
  list-style: none;
  width: 50%;
}
.trend-wrapper ul a {
  position: relative;
  width: 100%;
  height: 30px;
  cursor: pointer;
  color: #848484;
  display: block;
}
.trend-wrapper ul a div {
  display: inline-block;
}
.flip {
  animation: flip 1.5s both;
}
.trend-wrapper ul a:hover {
  color: #e7b100;
  transition: 0.4s;
}
.trend-wrapper ul a span:first-child {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
  color: #000000;
}



.category-wrapper {
  position: relative;
  width: 1280px;
  height: 1420px;
  margin: auto;
  padding: 20px;
}
.category-title {
  position: relative;
  top: 0px;
  left: 20px;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}
.category-wrapper ul {
  position: relative;
  top: 20px;
  list-style: none;
  width: 50%;
  float: left;
  padding: 10px;
}

.category-wrapper ul li {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}
.category-wrapper ul li:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.category-name{
  position: relative;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
.category-info{
  position: relative;
  width: 65%;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #969696;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 	
  word-break:break-all;
}
.category-wrapper ul li img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  transform: rotate(20deg);
  box-shadow: 3px 3px 10px 1px gray;
}



@media only screen and (max-width:1280px) {
  .wrapper {
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
  .recommend-wrapper {
    width: 100%;
  }
  .trend-and-short-cut{
    width: 100%;
  }
  .category-wrapper {
    width: 100%;
  }
  .recommendlist-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width:1000px) {
  .category-wrapper ul{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .category-wrapper {
    height: 2710px;
  }
  .short-cut-wrapper {
    padding-right: 0;
  }
  .trend-wrapper {
    padding-left: 0;
  }
  .recommendlist-wrapper{
    height: 480px;
  }
}
@media only screen and (max-width:670px) {
  .short-cut-wrapper{
    float: none;
    width: 100%;
  }
  .trend-wrapper{
    float: none;
    width: 100%;
    margin-left: 20px;
    right: -20px;
  }
  .category-wrapper {
    top: 30px;
    height: 2870px;
  }
}
@media only screen and (max-width:430px) {
  .recommendlist-wrapper ul li span{
    display: none;
  }
  .recommendlist-wrapper ul li img{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
  }
}


@media only screen and (max-width:350px) {
  .wrapper {
    width: 333px;
  }
}



@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flip {
  0%{  
    transform: rotateX(180deg);
    opacity: 0;
  }
  60%{
    transform: rotateX(0deg);
  }
  100%{
    opacity: 1;
  }
}