#underbar {
  position: absolute;
  left: 20%;
  top: 56px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}
#overbar {
  position: absolute;
  left: 20%;
  top: -1px;
  background: #ffd16d;
  width: 20%;
  height: 4px;
}

.search-input-wrapper {
  position: fixed;
  top: 60px;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
  z-index: 10;
}
.search-input {
  position:relative;
  width: 1280px;
  height: 100px;
  margin: auto;
}
.search-input input {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  border: none;
  text-indent: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  outline: none;
}
.search-input input::placeholder {
  color: #bebebe;
}
.search-input .icon {
 position: absolute;
 top: 50%;
 left: 0px;
 transform: translateY(-50%);
 left: 40px;
 width: 30px;
 opacity: 0.4;
 z-index: 5;
}
.search-input .reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 20px;
  opacity: 0.2;
}


.search-result-wrapper {
  position: relative;
  width: 100%;
  max-height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #e3e3e3;
}
.search-result-wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: rgb(248, 248, 248);
}
.search-result-wrapper::-webkit-scrollbar-thumb {
  background-color: cornflowerblue;
  border-radius: 2px;
}

.search-result-category {
  position: relative;
  width: 1200px;
  margin: 10px auto;
  padding: 15px 30px;
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
  border-radius: 10px;
  background-color: white;
}
.search-result-category:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.search-result-category:first-child {
  margin-top: 20px;
}
.search-result-category:last-child {
  margin-bottom: 40px;
}
.search-result-category .title {
  position: relative;
  font-size: 12px;
  color: #888888;
}
.search-result-category a {
  text-decoration: none;
}
.search-result-category .data {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #a1a1a1;
}

.search-result-book {
  position: relative;
  width: 1280px;
  height: 50px;
  margin: auto;
  padding: 10px 40px;
}
.search-result-book:hover .data {
  color: #232323;
  transition: 0.5s;
}
.search-result-book:first-child {
  margin-top: 10px;
}
.search-result-book:last-child {
  margin-bottom: 10px;
}
.search-result-book a{
  position: absolute;
  text-decoration: none;
}
.search-result-book img {
  position: relative;
    top: 0px;
    width: 30px;
    margin-right: 20px;
    opacity: 0.4;
}
.search-result-book .data {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #a1a1a1;
}
.search-result-wrapper strong {
  color: #005bff;
}

.meta-wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
  padding-top: 160px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

.main-wrapper {
  position: relative;
  width: 75%;
  height: 1000px;
  border-right: 1px solid silver;
  display: inline-block;
  padding: 20px 40px;
}
.main-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.main-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
}
.main-wrapper .header {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.main-wrapper .header .left-text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}
.main-wrapper .header .left-number {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: cornflowerblue;
}
.main-wrapper .header .order {
  float: right;
  width: 100px;
  height: 36px;
  border: none;
  outline: none;
  font-size: 16px;
}
.main-wrapper .body {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.main-wrapper .body a {
  position: relative;
  float: left;
  width: 16.6%;
  height: 280px;
  list-style: none;
}
.main-wrapper .body a div {
  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
}
.book-img {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.book-img img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.book-name {
  height: 25px;
}
.book-name span {
  font-family: 'Noto Sans KR', sans-serif;
  float: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.book-name img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 16px;
  float: right;
  opacity: 0.5;
}
.book-author {
  font-weight: 900;
  font-size: 14px;
  color: #848484;
}
.book-author span {
  position: absolute;
  left: 0px;
}




.side-wrapper {
  position: relative;
  width: 25%;
  height: 100%;
  float: right;
}
.side-wrapper .header {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid silver;
}
.side-wrapper .header .icon {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 20px;
}
.side-wrapper .header .text {
  position: absolute;
  top: 20px;
  left: 45px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}

.side-wrapper .body {
  position: relative;
  width: 100%;
  padding: 20px;
}

.category-wrapper {

}
.category-wrapper .title {
  font-family: 'Noto Sans KR', sans-serif;
  display: inline-block;
  margin-bottom: 10px;
}
.category-wrapper ul {
  list-style: none;
  padding: 20px 0;
  padding-top: 0;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
}
.category-wrapper li {
  margin-bottom: 5px;
}
.category-wrapper li input {
  margin-right: 5px;
}

.publish-date-wrapper {

}
.publish-date-wrapper .title {
  font-family: 'Noto Sans KR', sans-serif;
  display: inline-block;
  margin-bottom: 10px;

}
.publish-date-wrapper ul {
  list-style: none;
  margin-bottom: 100px;
}
.publish-date-wrapper li {
  margin-bottom: 5px;

}
.publish-date-wrapper li input {
  margin-right: 5px;
}
.reset-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 36px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  color: #848484;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
}
.reset-btn:hover {
  background-color: rgb(248, 248, 248);
  transition: 0.3s;
}

.search-controller {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
}

.search-controller .controller {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 228px;
}

.controller-btn-left {
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller-btn-right {
  position: absolute;
  top: 2px;
  right: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.controller a{
  display: inline-block;
  width: 19px;
  margin: 0 2px;
  border-radius: 50%;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 900;
}
.index-active {
  background-color: cornflowerblue;
  color: white;
 }

@media only screen and (max-width:1280px) {
  .wrapper {
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
}

@media only screen and (max-width:350px) {
  .wrapper {
    width: 333px;
  }
  .search-input {
    width: 333px;
  }
}


@keyframes fadeout {
  0% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
    display: none;
  }
}

@keyframes fadein {
  100% {
    filter: opacity(100%);
  }

  0% {
    filter: opacity(0%);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(10%);
    opacity: 0%;
  }

  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flip {
  0%{  
  }
  3%{
    opacity: 0;
  }
  5%{
    transform: rotateX(180deg);
    opacity: 0;
  }
  8%{
    transform: rotateX(360deg);
  }
  10%{
    opacity: 1;
  }
  100%{
    transform: rotateX(360deg);
  }
}