<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/board-inquire.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/board-inquire.js}"></script>
</th:block>


<div layout:fragment="content">

<div class="top-back-wrapper">
    <div class="top-back-title">ㅣ 상품문의 ㅣ</div>
</div>
 
<div class="top-space"></div>

<div class="middle-nav-wrapper">
  <div class="middle-nav-container">
    <div class="middle-nav">
      <div onclick="location.href='/review?page=0&size=3'">책리뷰</div>
      <div onclick="location.href='/inquire'">상품문의</div>
      <div onclick="location.href='/notice'">공지사항</div>
      <div class="middle-nav-underbar"></div>
    </div>
  </div>
</div>

<div class="meta-wrapper">

<div class="write-wrapper-back"></div>
  
  <form action="/inquire" method="post" class="inquire-write-wrapper">
    <div class="inquire-write-top">
      <span class="inquire-write-top-text">문의글 작성</span>
      <img class="inquire-write-top-icon" src="/img/icon/btn_dialog_close@2x.png">
    </div>
    <div class="inquire-write-contents">
      <div class="inquire-write-header">
        <div class="title">ㅣ 제목 *</div>
        <textarea name="title" class="inquire-input-header" maxlength="30" placeholder="제목을 입력하세요." ></textarea>
      </div>
      <div class="inquire-write-main">
        <div class="inquire-write-main-title">ㅣ내용 *</div>
        <div class="inquire-write-frame">
          <textarea name="content" class="inquire-input-main" maxlength="3000"
                    placeholder="내용을 10자 이상 입력해주세요. 주제와 무관한 글은 임의로 삭제될 수 있습니다."></textarea>
          <div class="write-number">0/3000</div>
        </div>
      </div>

      <div class="inquire-write-private">
        <label>ㅣ 비밀글<input class="private-check" type="checkbox" name="closed" value="1"></label>
        <input class="private-pw" type="password" name="pw" maxlength="12" placeholder="비밀번호를 입력해주세요.">
      </div>
    </div>
    <div type="submit" class="regist-button disable" onclick="formSubmit(this)">등록</div>
  </form>


  <div class="inquire-wrapper" id="inquire-wrapper">
  <div class="inquire-title-wrapper">
    <div class="title">상품 문의</div>
  </div>

  <div class="inquire-middle-wrapper">
    <span class="number" th:text="${inquires?.totalElements}"></span>
    <span class="text">건</span>
 
    <div class="inquire-write" th:classappend="${#authorization.expression('hasRole(''USER'')')}? '' : 'disable'">글 작성</div>
    <div class="my-inquire-search" th:classappend="${#authorization.expression('hasRole(''USER'')')}? '' : 'disable'">내가 쓴 글</div>
   
    <form action="/inquire-search" method="get" class="search">
      <select name="searchBy" class="inquire-search-sort">
        <option value="1" th:selected="${dataUtils.searchBy == 1}">제목</option>
        <option value="2" th:selected="${dataUtils.searchBy == 2}">작성자</option>
      </select>
        <input type="text" name="input" class="inquire-search-input" placeholder="검색어를 입력하세요." th:value="${dataUtils.input}">
        <img id="search-icon" src="/img/icon/search.svg" onclick="$('.search').submit()">
    </form>
    
  </div>
  
  <div class="inquires">
    <div class="header">
        <div class="state">상태</div>
        <div class="title">제목</div>
        <div class="writer">작성자</div>
        <div class="date">등록일</div>
        <div class="hits">조회수</div>
    </div>
    <div class="body">
      
      <div class="my-inquire" th:each="inquire : ${inquires}">
        <input id="inquireId" th:value="${inquire.id}" type="hidden">
        <div class="state" th:text="${inquire.reFlag == 1 ? '답변완료' : '미답변'}"></div>
        <a class="title" onclick="inquireDetail(this)">
          <span class="text" th:text="${inquire.title}"></span> 
          <img th:if="${inquire.closed == 1}" src="/img/icon/lock.svg">
          <span class="number" th:text="${inquire.replies.size()}"></span>
        </a>
        <div class="writer" th:text="${inquire.member.nickname}"></div>
        <div class="date" th:text="${#temporals.format(inquire.regDate, 'yyyy-MM-dd')}"></div>
        <div class="hits" th:text="${inquire.hits}"></div>
      </div>
      
    </div>
  </div>

    <div class="inquire-controller">
          <span class="controller"
                th:with="start=${T(java.lang.Math).floor(inquires.number/10)*10 + 1}, last=(${inquires.totalPages})">

             <a th:class="${inquires.first} ? 'disable'"
                th:href="@{/inquire(page=${inquires.number})}">
               <img class="controller-btn-left" src="/img/icon/btn_pagination_prev@2x.png">
             </a>

            <a th:href="@{/inquire(page=1)}"
               th:if="${inquires.totalPages < 4 ? false :inquires.number > 1}"
               th:text="1" aria-label="First">
            </a>

            <span th:if="${inquires.totalPages < 4 ? false :inquires.number > 1}">...</span>

             <a th:each="page: ${#numbers.sequence(start, last)}"
                th:if="${inquires.first ? (page == 0 ? false : page < inquires.number + 4) :
                (inquires.last ? page > inquires.number - 2 : (page < inquires.number + 3) && (page > inquires.number - 1))}"
                th:class="${page == inquires.number + 1} ? 'index-active'"
                th:text="${page}" th:href="@{/inquire(page=${page})}">
             </a>

            <span th:if="${inquires.totalPages < 4 ? false :inquires.number < inquires.totalPages - 2}">...</span>

            <a th:href="@{/inquire(page=${inquires.totalPages})}"
               th:if="${inquires.totalPages < 4 ? false :inquires.number < inquires.totalPages - 2}"
               th:text="${inquires.totalPages}" aria-label="Last" >
            </a>

            <a th:class="${inquires.last} ? 'disable'"
               th:href="@{/inquire(page=${inquires.number +2})}">
              <img class="controller-btn-right" src="/img/icon/btn_pagination_next@2x.png">
            </a>

          </span>
    </div>
 
</div>

  <div class="alert-window close-alert">
    <div class="text">
      작성한 내용은 저장되지 않습니다.<br>
      취소하겠습니까?
    </div>
    <button class="cancel" onclick="hideAlert(this)">취소</button>
    <button class="okay" onclick="formClose(this)">확인</button>
  </div>

  <div class="pw-input">
    <div class="text">비밀번호 입력</div>
    <input type="password">
    <button class="cancel" onclick="hideAlert(this)">취소</button>
    <button class="okay" onclick="pwCheck(this)">확인</button>
  </div>

  <div class="top-move-button">
    <div>∧</div>
    <div>TOP</div>
  </div>

</div>
</div>
</html>