<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/board-review.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/board-review.js}"></script>
</th:block>


<div layout:fragment="content">

  <div class="top-back-wrapper">
    <div class="top-back-title">ㅣ 책리뷰 ㅣ</div>
  </div>

  <div class="top-space"></div>

  <div class="middle-nav-wrapper">
    <div class="middle-nav-container">
      <div class="middle-nav">
        <div onclick="location.href='/review?page=0&size=3'">책리뷰</div>
        <div onclick="location.href='/inquire'">상품문의</div>
        <div onclick="location.href='/notice'">공지사항</div>
        <div class="middle-nav-underbar"></div>
      </div>
    </div>
  </div>

  <div class="meta-wrapper">

    <div class="write-wrapper-back"></div>

    <form action="/review" method="post" class="review-write-wrapper" enctype="multipart/form-data">
      <div class="review-write-top">
        <span class="review-write-top-text">리뷰작성</span>
        <img class="review-write-top-icon" src="/img/icon/btn_dialog_close@2x.png">
      </div>
      <div class="review-write-contents">
        <div class="review-write-find">
          <img class="review-write-find-icon" src="/img/icon/search.svg">
          <span class="review-write-find-text">상품 검색</span>
        </div>
        <div class="review-write-book-wrapper">
          <input name="book" type="hidden" class="review-book-id">
          <img class="review-book-img" src="/img/book-cover/12.jpg">
          <div class="review-book-info">
            <div class="review-book-name">책이름</div>
            <div class="review-book-rating">
              <div class="star-empty">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
              </div>
              <div class="star-fill">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
              </div>
            </div>
            <div class="review-book-rating-number">
              <input name="rating" class="rating-number-input" type="text" value=0 hidden>
              <span class="rating-number">0</span>
              <span class="max-number">/ 5</span>
            </div>
          </div>
        </div>
        <div class="review-write-tag">
          <input name="tag" class="review-write-tag-input" type="hidden">
          <div class="review-write-tag-info">
            ㅣ 가장 공감되는 키워드를 선택해주세요. *
          </div>
          <span class="tag">#유익해요</span>
          <span class="tag">#재밌어요</span>
          <span class="tag">#공감돼요</span>
          <span class="tag">#최고에요</span>
          <span class="tag">#아쉬워요</span>
        </div>
        <div class="review-write-main">
          <div class="review-write-main-title">ㅣ 리뷰 작성 *</div>
          <div class="review-write-frame">
            <textarea name="content" class="review-write" maxlength="3000"
              placeholder="내용을 10자 이상 입력해주세요. 주제와 무관한 글은 임의로 삭제될 수 있습니다."></textarea>
            <div class="write-number">0/3000</div>
          </div>
        </div>

        <div class="review-write-attach">
          <div class="review-write-attach-title">
            <span>ㅣ 사진 첨부 (선택)</span>
            <span>0/5</span>
          </div>
          <div class="review-write-attach-photo">

            <div class="review-write-attach-photo-button">
              <input name="imageFiles" class="review-write-photo-input" type="file" multiple="multiple"
                accept=".jpg, .jpeg, .png, .gif" onchange="setThumbnail(event,this)">
            </div>

          </div>
          <div class="review-write-attach-guide">
            * JPG, PNG, GIF 파일만 최대 5장 업로드 가능합니다.
          </div>
        </div>

      </div>
      <div type="submit" class="regist-button disable" onclick="formSubmit(this)">등록</div>
    </form>



    <div id="modify-wrapper">
      <div class="modal-background"></div>
      <form action="" method="post" class="review-modify-wrapper" enctype="multipart/form-data">
      <div class="review-write-top">
        <span class="review-write-top-text">리뷰 수정</span>
        <img class="review-write-top-icon" src="/img/icon/btn_dialog_close@2x.png">
      </div>
      <div class="review-write-contents">
        <div class="review-modify-book-wrapper">
          <input th:value="${modReview!=null?modReview.book.id:''}" name="book" type="hidden" class="review-book-id">
          <img class="review-book-img" th:src="${modReview!=null?modReview.book.imgPath:''}">
          <div class="review-book-info">
            <div th:text="${modReview!=null?modReview.book.name:''}" class="review-book-name">책이름</div>
            <div class="review-book-rating">
              <div class="star-empty">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
              </div>
              <div class="star-fill" th:style="'width:'+34.5*${modReview!=null?modReview.rating:0}+'px'">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
              </div>
            </div>
            <div class="review-book-rating-number">
              <input name="rating" th:value="${modReview!=null?modReview.rating:0}" class="rating-number-input" type="text" hidden>
              <span class="rating-number" th:text="${modReview!=null?modReview.rating:0}">0</span>
              <span class="max-number">/ 5</span>
            </div>
          </div>
        </div>
        <div class="review-write-tag">
          <input name="tag" class="review-write-tag-input" type="hidden">
          <div class="review-write-tag-info">
            ㅣ 가장 공감되는 키워드를 선택해주세요. *
          </div>
          <span class="tag" th:classappend="${modReview!=null?modReview.tag:''}=='#유익해요'?'tag-active':''">#유익해요</span>
          <span class="tag" th:classappend="${modReview!=null?modReview.tag:''}=='#재밌어요'?'tag-active':''">#재밌어요</span>
          <span class="tag" th:classappend="${modReview!=null?modReview.tag:''}=='#공감돼요'?'tag-active':''">#공감돼요</span>
          <span class="tag" th:classappend="${modReview!=null?modReview.tag:''}=='#최고에요'?'tag-active':''">#최고에요</span>
          <span class="tag" th:classappend="${modReview!=null?modReview.tag:''}=='#아쉬워요'?'tag-active':''">#아쉬워요</span>
        </div>
        <div class="review-write-main">
          <div class="review-write-main-title">ㅣ 리뷰 작성 *</div>
          <div class="review-write-frame">
            <textarea name="content" class="review-write" maxlength="3000" th:value="${modReview!=null?modReview.content:''}"
                      th:utext="${modReview!=null ? #strings.replace(modReview.content, '<br>', '&#10') : ''}"
                      placeholder="내용을 10자 이상 입력해주세요. 주제와 무관한 글은 임의로 삭제될 수 있습니다."></textarea>
            <div class="write-number" th:text="${#strings.length((modReview!=null?modReview.content:''))} + '/3000'">0/3000</div>
          </div>
        </div>
        <div class="review-write-attach">
          <div class="review-write-attach-title">
            <span>ㅣ 사진 첨부 (선택)</span>
            <span th:text="${modReview!=null?modReview.files.size():0}+'/5'"></span>
          </div>
          <div class="review-write-attach-photo">

            <div class="review-write-attach-photo-button">
              <input name="imageFiles" class="review-write-photo-input" type="file" multiple="multiple" th:if="${(modReview!=null?modReview.files.size():0) < 5}"
                accept=".jpg, .jpeg, .png, .gif" th:value="${modReview!=null?modReview.files:null}">
            </div>

            <div class="review-write-photo-wrapper" th:each="file: ${modReview!=null?modReview.files:null}">
              <div class="review-write-photo-cancel" onclick="deleteImg(this)">X</div>
              <input class="review-write-photo" onchange="setThumbnail(event,this)" th:style="'background-image:url(' + ${file.fullPath} + ');'" >
            </div>

          </div>
          <div class="review-write-attach-guide">
            * JPG, PNG, GIF 파일만 최대 5장 업로드 가능합니다.
          </div>
        </div>
      </div>
      <div class="regist-button disable" onclick="formSubmit(this)">등록</div>
    </form>
    </div>






    <div class="review-write-search-wrapper">
      <div class="search-title">
        <span class="text">상품 검색</span>
        <img src="/img/icon/btn_dialog_close@2x.png">
      </div>
      <div class="search-input-wrapper">
        <input id="search-input" type="text" placeholder="상품을 검색해 보세요.">
        <img id="search-icon" src="/img/icon/search.svg">
      </div>
      
      <div class="search-result-wrapper" id="search-results">
        <div class="search-result-top">
          <div class="search-result-info">
            <span class="input-value">''</span>
            <span class="text1">검색결과</span>
            <span class="number" th:text="${books?.totalElements}">0</span>
            <span class="text2">건</span>
          </div>
          <select id="sortOrder" class="search-result-order" name="order">
            <option value="name">책이름 순</option>
            <option value="sales">판매량순</option>
            <option value="publishDate">최신순</option>
            <option value="rating">상품평순</option>
          </select>
        </div>

        <div class="review-search-contents" th:if="${books}">

          <div class="search-result" th:each="book : ${books}">
            <input type="hidden" class="book-id" th:value="${book.id}">
            <img th:src="${book.imgPath}">
            <div class="search-result-text">
              <div class="name" th:text="${book.name}"></div>
              <span class="author" th:text="${book.author}"></span>
              <span class="sector">ㅣ</span>
              <span class="date" th:text="${book.publishDate}"></span>
            </div>
            <button class="select">선택</button>
          </div>

          <div class="search-controller">
        <span class="controller"
              th:with="start=${T(java.lang.Math).floor(books.number/10)*10 + 1}, last=(${books.totalPages})">

           <a th:class="${books.first} ? 'disable'">
             <img class="controller-btn-left" src="/img/icon/btn_pagination_prev@2x.png">
           </a>

          <a th:if="${books.totalPages < 4 ? false :books.number > 1}"
             th:text="1" id="idx">
          </a>

          <span th:if="${books.totalPages < 4 ? false :books.number > 1}">...</span>

           <a th:each="page: ${#numbers.sequence(start, last)}"
              th:if="${books.first ? page < books.number +4 :
              (books.last ? page > books.number -2 : (page < books.number +3) && (page > books.number -1))}"
              th:class="${page == books.number + 1} ? 'index-active'" id="idx"
              th:text="${page}">
           </a>

          <span th:if="${books.totalPages < 4 ? false :books.number < books.totalPages -2}">...</span>

          <a th:if="${books.totalPages < 4 ? false :books.number < books.totalPages -2}"
             th:text="${books.totalPages}" id="idx">
          </a>

          <a th:class="${books.last} ? 'disable'">
            <img class="controller-btn-right" src="/img/icon/btn_pagination_next@2x.png">
          </a>

        </span>
          </div>

        </div>
      </div>
    </div>





    <div class="review-wrapper" id="review-wrapper">
      <div class="review-title-wrapper">
        <div class="review-title" th:text="'모두의 리뷰 ('+${reviews?.totalElements} +')'"></div>
        <div class="review-title-write" th:classappend="${#authorization.expression('hasRole(''USER'')')}? '' : 'disable'">리뷰 작성</div>
        <div class="review-title-my" th:classappend="${#authorization.expression('hasRole(''USER'')')}? '' : 'disable'">내가 쓴 리뷰</div>
      </div>

      <div class="reviews-wrapper">

        <div class="my-review" th:each="review: ${reviews}">
          <input id="review-id" th:value="${review.id}" type="hidden">
          <div class="book-name" th:text="${review.book.name}"></div>

          <div class="header">
            <div class="buyer">구매자</div>
            <div class="id" th:text="${review.member.nickname}"></div>
            <div class="date" th:text="${#temporals.format(review.regDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')} ? true :
            (${#authorization.expression('hasRole(''USER'')')} ? (${#authentication.principal?.username} == ${review.member.phone}) : false)" class="modify">수정</div>
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')} ? true :
            (${#authorization.expression('hasRole(''USER'')')} ? (${#authentication.principal?.username} == ${review.member.phone}) : false)" class="delete">삭제</div>
            <div class="tag" th:text="${review.tag}"></div>

            <div class="rating">
              <div class="star-empty">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
                <img src="/img/icon/star-empty.svg">
              </div>
              <div class="star-fill" th:style="'width:' + ${review.rating}*20 + '%'">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
                <img src="/img/icon/star-fill.svg">
              </div>
            </div>

          </div>

          <div class="body">
            <div class="review">
              <span th:utext="${review.content}"></span>
            </div>
            <div class="frame"></div>
            <div th:unless="${#lists.isEmpty(review.files) || review.files.size()==0 }">
            <div class="photos" th:style="'background-image:url(' + ${review.files[0].fullPath} + ');'">
              <div class="close">x</div>
              <img th:each="file: ${review.files}" th:src="${file.fullPath}">
              <div class="number" th:text="${'+' + #strings.toString(review.files.size()-1)}" th:style="${review.files.size() < 2 ? 'display:none' : ''}"></div>
              <button class="btn-left">&lt;</button>
              <button class="btn-right">&gt;</button>
              <div class="plus">더보기</div>
              </div>
            </div>
              <div class="fold-button">
                <span class="text">펼치기</span>
                <img class="icon" src="/img/icon/down.png">
              </div>
            </div>

          </div>


        </div>

        <div class="review-controller">
          <span class="controller"
                th:with="start=${T(java.lang.Math).floor(reviews.number/10)*10 + 1}, last=(${reviews.totalPages})">

             <a th:class="${reviews.first} ? 'disable'"
                th:href="@{/review(page=${reviews.number})}">
               <img class="controller-btn-left" src="/img/icon/btn_pagination_prev@2x.png">
             </a>

            <a th:href="@{/review(page=1)}"
               th:if="${reviews.number > 1}"
               th:text="1">
            </a>

            <span th:if="${reviews.number > 1}">...</span>

             <a th:each="page: ${#numbers.sequence(start, last)}"
                th:if="${reviews.first ? page < reviews.number +4 :
                (reviews.last ? page > reviews.number -2 : (page < reviews.number +3) && (page > reviews.number -1))}"
                th:class="${page == reviews.number + 1} ? 'index-active'"
                th:text="${page}" th:href="@{/review(page=${page})}">
             </a>

            <span th:if="${reviews.number < reviews.totalPages -2}">...</span>

            <a th:href="@{/review(page=${reviews.totalPages})}"
               th:if="${reviews.number < reviews.totalPages -2}"
               th:text="${reviews.totalPages}" aria-label="Last" >
            </a>

            <a th:class="${reviews.last} ? 'disable'"
               th:href="@{/review(page=${reviews.number +2})}">
              <img class="controller-btn-right" src="/img/icon/btn_pagination_next@2x.png">
            </a>

          </span>
        </div>

        <div class="alert-window close-alert">
          <div class="text">
            작성한 내용은 저장되지 않습니다.<br>
            취소하겠습니까?
          </div>
          <button class="cancel" onclick="hideCloseAlert(this)">취소</button>
          <button class="okay" onclick="formClose(this)">확인</button>
        </div>

        <div class="alert-window delete-alert">
          <div class="text">
            리뷰를 삭제하시겠습니까?
          </div>
          <button class="cancel" onclick="hideDeleteAlert(this)">취소</button>
          <button class="okay" onclick="reviewDelete(this)">확인</button>
        </div>

        <div class="top-move-button">
          <div>∧</div>
          <div>TOP</div>
        </div>

      </div>
    </div>
  </div>

</html>