<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/inquire-detail.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/inquire-detail.js}"></script>
</th:block>


<div layout:fragment="content">

<div class="top-back-wrapper">
    <div class="top-back-title">ㅣ 책리뷰 ㅣ</div>
    <div class="top-back-title">ㅣ 상품문의 ㅣ</div>
    <div class="top-back-title">ㅣ 공지사항 ㅣ</div>
    <div class="top-back-title">ㅣ 당첨자발표 ㅣ</div>
</div>
 
<div class="top-space"></div>

<div class="middle-nav-wrapper">
  <div class="middle-nav-container">
    <div class="middle-nav">
      <div onclick="location.href='/review'">책리뷰</div>
      <div onclick="location.href='/inquire'">상품문의</div>
      <div onclick="location.href='/notice'">공지사항</div>
      <div class="middle-nav-underbar"></div>
    </div>
  </div>
</div>

<div class="meta-wrapper">
  <div class="write-wrapper-back"></div>

  <div id="modify-wrapper">
    <div class="modal-background"></div>
    <form th:action="'/inquire-modify/'+${inquire.id}" method="post" class="inquire-modify-wrapper">
      <div class="inquire-write-top">
        <span class="inquire-write-top-text">문의글 수정</span>
        <img class="inquire-write-top-icon" src="/img/icon/btn_dialog_close@2x.png">
      </div>
      <div class="inquire-write-contents">
        <div class="inquire-write-header">
          <div class="title">ㅣ 제목 *</div>
          <textarea th:text="${inquire.title}" name="title" class="inquire-input-header" maxlength="30" placeholder="제목을 입력하세요." ></textarea>
        </div>
        <div class="inquire-write-main">
          <div class="inquire-write-main-title">ㅣ내용 *</div>
          <div class="inquire-write-frame">
          <textarea th:utext="${#strings.replace(inquire.content, '<br>', '&#10')}" name="content" class="inquire-input-main" maxlength="3000"
                    placeholder="내용을 10자 이상 입력해주세요. 주제와 무관한 글은 임의로 삭제될 수 있습니다."></textarea>
            <div class="write-number" th:text="${#strings.length(inquire.content)}+'/3000'">0/3000</div>
          </div>
        </div>

        <div class="inquire-write-private">
          <label>ㅣ 비밀글<input th:checked="${inquire.closed == 1}" name="closed" class="private-check" type="checkbox"  value="1"></label>
          <input th:value="${inquire.pw}" name="pw" class="private-pw" type="password"  maxlength="12" placeholder="비밀번호를 입력해주세요.">
        </div>
      </div>
      <div type="submit" class="regist-button" onclick="formSubmit(this)">등록</div>
    </form>
  </div>




<div class="inquire-wrapper">
  <div class="inquire-title-wrapper">
    <div class="title">상품 문의</div>
  </div>

  <div class="detail-wrapper">
    <input id="inquireId" th:value="${inquire.id}" type="hidden">
    <span class="reFlag"  th:text="${inquire.reFlag == 1 ? '답변완료' : '미답변'}"></span>
    <span class="title" th:text="${inquire.title}"></span>
    <img class="lock" src="/img/icon/lock.svg" th:if="${inquire.closed == 1}">
    <div class="sub-title">
      <span class="type" th:text="${inquire.member.nickname}"></span>
      <span class="split">ㅣ</span>
      <span class="date" th:text="${#temporals.format(inquire.regDate, 'yyyy.MM.dd')}"></span>
      <span th:if="${#authorization.expression('hasRole(''ADMIN'')')} ? true : (${#authentication.principal.username} == ${inquire.member.phone})" class="remove">삭제</span>
      <span th:if="${#authorization.expression('hasRole(''ADMIN'')')} ? true : (${#authentication.principal.username} == ${inquire.member.phone})" class="edit">수정</span>
    </div>
    <div class="contents" th:utext="${inquire.content}"}></div>

    <div class="comment-wrapper">
      <div class="sum" th:text="'댓글 '+${inquire.replies.size()}+'개'"></div>
      <div class="comment-input">
        <input id="commentSeq" th:value="${inquire.replies.size()}" type="hidden">
        <input id="commentLevel" value="0" type="hidden">
      <textarea class="comment" name="comment" maxlength="300" onkeydown="resize(this)" onkeyup="resize(this)" onclick="commentClick(this)" onfocusout="commentFocusout(this)" placeholder="내용을 입력해주세요. 최대 300자까지 입력할 수 있습니다."></textarea>
      <div class="comment-underline"></div>
      <div class="comment-button-save" value="save" onclick="replySave(this)">등록</div>
      <div class="comment-button-cancel" onclick="commentCancel(this)">취소</div>
      </div>

      <div th:each="reply : ${inquire.replies}" th:if="${reply.parent==null}">

        <div th:fragment="replyBlock" th:remove="tag">

          <div class="my-comment" th:style="${'padding-left:'+40*reply.level+'px;'}">
            <input id="replyId" th:value="${reply.id}" type="hidden">
            <div class="main">
              <div class="header">
                <span class="name" th:text="${reply.member?.nickname}"></span>
                <span class="split" th:if="${reply.member!=null}">ㅣ</span>
                <span class="date" th:text="${#temporals.format(inquire.regDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
              </div>
              <div class="body" th:utext="${reply.content}"></div>
              <div class="option">
                <img class="opt-btn" src="/img/icon/three-dots-vertical.svg">
                <div class="box">
                  <div class="edit" th:if="${#authorization.expression('hasRole(''ADMIN'')')} ? true : (${#authentication.principal.username} == ${reply.member?.phone})">수정</div>
                  <div class="remove" th:if="${#authorization.expression('hasRole(''ADMIN'')')} ? true : (${#authentication.principal.username} == ${reply.member?.phone})">삭제</div>
                  <div class="reply">답글 달기</div>
                </div>
              </div>
            </div>
          </div>

          <th:block th:each="children : ${reply.children}">
            <th:block th:with="reply = ${children}"
                      th:include="this :: replyBlock"
                      th:remove="tag">
            </th:block>
          </th:block>

        </div>

      </div>



    </div>
  </div>

  <div class="next-detail">
    <span class="next">다음글</span>
    <input class="inquireId" th:value="${nextInquire.id}" type="hidden">
    <img class="icon" src="/img/icon/chevron-up.svg">
    <a class="title" th:if="${nextInquire.id==null}">다음글이 없습니다.</a>
    <a class="title" th:if="${nextInquire.id!=null}" onclick="inquireDetail(this)" th:text="${nextInquire.title}"></a>
    <img class="lock" src="/img/icon/lock.svg" th:if="${nextInquire.closed==1}">
  </div>

  <div class="prev-detail">
    <span class="prev">이전글</span>
    <input class="inquireId" th:value="${prevInquire.id}" type="hidden">
    <img class="icon" src="/img/icon/chevron-up.svg">
    <a class="title" th:if="${prevInquire.id==null}">이전글이 없습니다.</a>
    <a class="title" th:if="${prevInquire.id!=null}" onclick="inquireDetail(this)" th:text="${prevInquire.title}"></a>
    <img class="lock" src="/img/icon/lock.svg" th:if="${prevInquire.closed==1}">
  </div>

  <div class="back-button" onclick="location.href='/inquire'">상품문의 목록</div>
 
</div>

  <div class="alert-window close-alert">
    <div class="text">
      글 수정을 취소하겠습니까?
    </div>
    <button class="cancel" onclick="hideAlert(this)">취소</button>
    <button class="okay" onclick="formClose(this)">확인</button>
  </div>

  <div class="alert-window delete-alert">
    <div class="text">
      글을 삭제하시겠습니까?
    </div>
    <button class="cancel" onclick="hideDeleteAlert(this)">취소</button>
    <button class="okay" onclick="inquireDelete(this)">확인</button>
  </div>

  <div class="alert-window reply-delete-alert">
    <div class="text">
      댓글을 삭제하시겠습니까?
    </div>
    <button class="cancel" onclick="hideDeleteAlert(this)">취소</button>
    <button class="okay" onclick="replyDelete(this)">확인</button>
  </div>

  <div class="pw-input">
    <div class="text">비밀번호 입력</div>
    <input type="password">
    <button class="cancel" onclick="hideAlert(this)">취소</button>
    <button class="okay" onclick="pwCheck(this)">확인</button>
  </div>

  <div class="top-move-button">
    <div>∧</div>
    <div>TOP</div>
  </div>

</div>
</div>
</html>