<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 | BookShelf</title>
  <link rel="stylesheet" href="/css/inquire-detail.css">

  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="/js/inquire-detail.js"></script>
  
</head>

<body>

<header>
  <div class="top-nav-background"></div>
  <div class="top-nav-wrapper">
    <div class="top-logo-wrapper" onclick="location.href='/'">
    <img id="top-logo" src="/img/icon/logo.png">
    <span class="top-title">BookShelf</span>
    </div>
    <div class="news-wrapper">
      <img src="/img/icon/bell.svg" id="news">
      <div id="news-n">N</div>
    </div>
    <img src="/img/icon/cart.svg" id="cart">
    <button class="login-button" onclick="location.href='/login'">로그인</button>
    <nav class="top-nav">
      <div id="underbar"></div>
      <ul>
        <li onclick="location.href='/'">NOW</li>
        <li onclick="location.href='/search'">책찾기</li>
        <li onclick="location.href='/event'">이벤트</li>
        <li onclick="location.href='/myshelf'">내책장</li>
        <li onclick="location.href='/review'">게시판</li>
      </ul>
    </nav>
  </div>
</header>

<div class="top-back-wrapper">
    <div class="top-back-title">ㅣ 책리뷰 ㅣ</div>
    <div class="top-back-title">ㅣ 상품문의 ㅣ</div>
    <div class="top-back-title">ㅣ 공지사항 ㅣ</div>
    <div class="top-back-title">ㅣ 당첨자발표 ㅣ</div>
</div>
 
<div class="top-space"></div>

<div class="middle-nav-wrapper">
  <div class="middle-nav-container">
    <div class="middle-nav">
      <div onclick="location.href='/review'">책리뷰</div>
      <div onclick="location.href='/inquire'">상품문의</div>
      <div onclick="location.href='/notice'">공지사항</div>
      <div onclick="location.href='/winner'">당첨자발표</div>
      <div class="middle-nav-underbar"></div>
    </div>
  </div>
</div>

<!-- tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt -->

<div class="meta-wrapper">

<div class="inquire-wrapper">
  <div class="inquire-title-wrapper">
    <div class="title">상품 문의</div>
  </div>

  <div class="detail-wrapper">
    <span class="title">문의글1</span>
    <img class="lock" src="/img/icon/lock.svg">
    <div class="sub-title">
      <span class="type">고객센터</span>
      <span class="split">ㅣ</span>
      <span class="date">2022.12.02</span>
      <span class="remove">삭제</span>
      <span class="edit">수정</span>
    </div>
    <div class="contents">
      남녀노소 불문하고 사랑받는 크림빵의 인기는<br>
      CU 편의점의 연세우유 크림빵으로 새로운 역사를 썼다고 해도 과언이 아니다.<br>
      동네 빵집에서 사 먹던 길쭉한 모양의 크림빵도 아니고, 마트 매대에 있던 빵도 아니다. <br><br>
      디저트 공간에 고스란히 자리 잡고 있으며, <br>
      냉장 보관되고 있는 크림빵. 품절 대란이 일어나고, <br>
      유튜브 및 SNS에 수없이 등장하며 많은 사람의 관심을 받았다. <br>
      이에 타 편의점도 어김없이 비슷한 종류의 빵을 출시하기 시작했다. <br><br>
      CU 편의점의 연세우유 크림빵과 함께 GS25 브레디크, 이마트24의 빵빵도넛까지 <br>
      총 3종의 차이점이 무엇인지 낱낱이 파헤쳐 보기로 했다. <br>
      초코, 딸기 등 다양한 맛이 있지만, <br>
      공통적이면서도 기본인 오리지널(우유)을 선택했다.
    </div>
    <div class="comment-wrapper">

      <div class="sum">댓글 1개</div>

      <div>
      <textarea class="comment" name="comment" maxlength="300" onkeydown="resize(this)" onkeyup="resize(this)" onclick="commentClick(this)" onfocusout="commentFocusout(this)" placeholder="내용을 입력해주세요. 최대 300자까지 입력할 수 있습니다."></textarea>
      <div class="comment-underline"></div>
      <button class="comment-button-save" type="submit" value="save">등록</button>
      <button class="comment-button-cancel" onclick="commentCancel(this)">취소</button>
      </div>

      <div class="my-comment">
        <div class="main">
        <div class="header">
          <span class="name">관리자</span>
          <span class="split">ㅣ</span>
          <span class="date">2022.12.07 16:16:20</span>
        </div>
        <div class="body">
          계란을 삶을 때 몇 분을 삶아야 할까 고민하셨나요?<br>
          오늘은 맛있고 맨들맨들한 삶은 계란 만드는 방법으로 찾아왔습니다.<br>
          자세한 내용은 영상 참고해 주세요.
        </div>
        <div class="option">
          <img class="opt-btn" src="/img/icon/three-dots-vertical.svg">
          <div class="box">
            <div class="edit">수정</div>
            <div class="remove">삭제</div>
            <div class="reply">답글 달기</div>
          </div>
        </div>
      </div>
      </div>


      <div class="my-comment inner">
        <div class="main">
        <div class="header">
          <span class="name">작성자</span>
          <span class="split">ㅣ</span>
          <span class="date">2022.12.07 16:16:20</span>
        </div>
        <div class="body">
          계란을 삶을 때 몇 분을 삶아야 할까 고민하셨나요?<br>
          오늘은 맛있고 맨들맨들한 삶은 계란 만드는 방법으로 찾아왔습니다.<br>
          자세한 내용은 영상 참고해 주세요.
        </div>
        <div class="option">
          <img class="opt-btn" src="/img/icon/three-dots-vertical.svg">
          <div class="box">
            <div class="edit">수정</div>
            <div class="remove">삭제</div>
            <div class="reply">답글 달기</div>
          </div>
        </div>
      </div>
      </div>
      <div class="my-comment">
        <div class="main">
        <div class="header">
          <span class="name">관리자</span>
          <span class="split">ㅣ</span>
          <span class="date">2022.12.07 16:16:20</span>
        </div>
        <div class="body">
          계란을 삶을 때 몇 분을 삶아야 할까 고민하셨나요?<br>
          오늘은 맛있고 맨들맨들한 삶은 계란 만드는 방법으로 찾아왔습니다.<br>
          자세한 내용은 영상 참고해 주세요.
        </div>
        <div class="option">
          <img class="opt-btn" src="/img/icon/three-dots-vertical.svg">
          <div class="box">
            <div class="edit">수정</div>
            <div class="remove">삭제</div>
            <div class="reply">답글 달기</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="prev-detail">
    <span class="prev">이전글</span>
    <img src="/img/icon/ic_event_noti_detail_arr@2x.png">
    <a class="title" href="#">이전 문의글</a>
  </div>

  <div class="next-detail">
    <span class="next">이전글</span>
    <img src="/img/icon/ic_event_noti_detail_arr@2x.png">
    <a class="title" href="#">다음 문의글</a>
  </div>

  <div class="back-button" onclick="location.href='/inquire'">상품문의 목록</div>
 
</div>  

<!-- ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff -->

<div class="footer-wrapper">
  <footer>
    <img src="/img/icon/logo.png">
    <div class="footer-title">Bookshelf</div>
    <span class="footer-infor-title">사업자 정보 열기 ∨</span>
    <p class="footer-infor">대표이사:최원석&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      사업자등록번호:123-45-6789&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      호스팅 제공자:(주)북셸프<br>
      통신판매업 신고번호:2022-서울영등포-2000호<br>
      주소:서울특별시 영등포구 국회대로37길6,10층(유경빌딩)<br><br>
      고객정보보호 책임자:최원석(nicui@bookshelf.com)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      마케팅 제휴 문의:business@booshelf.com<br></p>
    <ul>
      <li>이용약관</li>
      <li>개인정보처리방침</li>
      <li>고객센터</li>
      <li>환불신청</li>
      <li>콘텐츠 제휴문의</li>
      <li>저작권/도서오류 신고</li>
      <li>회사 소개</li>
    </ul>
    <div class="footer-last">Copyright © 2022 북셸프 All Rights Reserved.</div>
  </footer>
</div>

<div class="bottom-nav-wrapper">
  <nav class="bottom-nav">
    <ul>
      <div id="overbar"></div>
      <li onclick="location.href='/'">
        <img src="/img/icon/logo.png">
        <div>NOW</div>
      </li>
      <li onclick="location.href='/search'">
        <a href="/search"><img src="/img/icon/search.svg"></a>
        <div>책찾기</div>
      </li>
      <li onclick="location.href='/event'">
        <img src="/img/icon/event.svg">
        <div>이벤트</div>
      </li>
      <li onclick="location.href='/myshelf'">
        <img src="/img/icon/shelf.svg">
        <div>내책장</div>
      </li>
      <li onclick="location.href='/review'">
        <img src="/img/icon/list.svg">
        <div>게시판</div>
      </li>
    </ul>
  </nav>
</div>

  <div class="top-move-button">
    <div>∧</div>
    <div>TOP</div>
  </div>

</body>
</html>