<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/myshelf.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/myshelf.js}"></script>
</th:block>


<div layout:fragment="content">

  <div class="top-back-wrapper">
    <div class="top-background-frame">
      <div class="top-background"></div>
    </div>
    <div class="top-back-title-wrapper">
      <img class="profile" src="/img/icon/person-circle.svg">
      <div class="top-back-title">
        <div class="top-back-title-name" th:text="${member.nickname}"></div>
        <div class="top-back-title-text">의 책장</div>
      </div>
      <img class="top-back-setting" src="/img/icon/setting-list.svg">
      <div class="top-back-point-wrapper">
        <img class="top-back-point-icon" src="/img/icon/bootstrap-fill.svg">
        <div class="top-back-point-text" th:text="${member.point} + ' 포인트'"></div>
      </div>
    </div>
  </div>

  <div class="top-space"></div>

  <div class="middle-nav-wrapper">
    <div class="middle-nav-container">
      <div class="middle-nav">
        <div>책선반</div>
        <div>포인트</div>
        <div>구매내역</div>
        <div>회원 정보</div>
        <div class="middle-nav-underbar"></div>
      </div>
    </div>
  </div>


  <div class="meta-wrapper">

    <!-- <div class="entire-book-wrapper">
      <div class="entire-book-title-background"></div>
      <div class="entire-book-title">
        <div class="entire-book-number">
          <div class="entire-book-number-text">전체 0권</div>
          <img src="/img/icon/down-arr.png">
          <div class="entire-book-number-list">
            <li>전체</li>
            <li>읽은 책</li>
            <li>읽지 않은 책</li>
            <li>다 읽은 책</li>
          </div>
        </div>
        <div class="entire-book-search">
          <img src="/img/icon/search.svg">
          <input type="text">
          <img src="/img/icon/three-dots-vertical.svg">
          <div class="entire-book-search-text">닫기</div>
        </div>
        <div class="entire-book-order">
          <img src="/img/icon/down-arr.png">
          <span>최근 담은 순</span>
          <div class="entire-book-order-list">
            <li>최근 담은 순</li>
            <li>최근 읽은 순</li>
            <li>책 제목 순</li>
            <li>저자명 순</li>
            <li>출판사 순</li>
            <li>최근 발행 순</li>
          </div>
        </div>
      </div>
      <div class="entire-book">
        <li>
          <div class="entire-book-img-1"><img src="/img/book-cover/1.jpg"></div>
          <div class="entire-book-name-1"><span>책이름 1</span><img src="/img/icon/three-dots-vertical.svg"></div>
          <div class="entire-book-author-1"><span>작가 1</span></div>
        </li>
      </div>
    </div> -->

    <div class="shelf-wrapper">
      <div class="favorite-wrapper">
        <div class="favorite-contents-wrapper">
          <div class="favorite-title-wrapper">
            <img class="favorite-title-icon" src="/img/icon/bookmark.svg">
            <div class="favorite-title">북마크한 책</div>
            <div class="favorite-number">12 ></div>
          </div>

          <div class="favorite-books">
            <div class="favorite-contents-null">북마크한 책이 자동으로 담깁니다.</div>
            <div><img src="/img/book-cover/11.jpg"></div>
            <div><img src="/img/book-cover/12.jpg"></div>
            <div><img src="/img/book-cover/13.jpg"></div>
            <div><img src="/img/book-cover/14.jpg"></div>
            <div><img src="/img/book-cover/15.jpg"></div>
          </div>
          <div class="favorite-shelf"></div>
        </div>
      </div>

      <div class="reading-wrapper">
        <div class="reading-contents-wrapper">
          <div class="reading-title-wrapper">
            <img class="reading-title-icon" src="/img/icon/book.svg">
            <div class="reading-title">구매한 책</div>
            <div class="reading-number">12 ></div>
          </div>

          <div class="reading-books">
            <div class="reading-contents-null">구매한 책이 자동으로 담깁니다.</div>
            <div><img src=""></div>
            <div><img src=""></div>
            <div><img src=""></div>
            <div><img src=""></div>
            <div><img src=""></div>
          </div>
          <div class="reading-shelf"></div>
        </div>
      </div>
    </div>


    <div class="record-wrapper">

      <div class="record-top">
        <div class="record-sort">
          <span class="record-sort-month">월간</span>
          <span class="record-sort-year">연간</span>
          <span class="record-sort-sum">누적</span>
          <div class="record-sort-button"></div>
        </div>
        <img class="record-question" src="/img/icon/question-circle.svg">

        <div class="record-question-box">
          <div class="record-question-info">
            <span>구독기간 동안의 독서활동으로 분석합니다.</span>
            <img src="/img/icon/btn_dialog_close@2x.png">
          </div>
          <div class="record-question-book-wrapper">
            <img src="/img/icon/book.svg">
            <div class="record-question-book-right">
              <div class="record-question-book-title">책</div>
              <div class="record-question-book-info">기간 동안 한 번 이상 열어본 책의 수</div>
            </div>
          </div>
          <div class="record-question-time-wrapper">
            <img src="/img/icon/clock.svg">
            <div class="record-question-time-right">
              <div class="record-question-time-title">독서 시간</div>
              <div class="record-question-time-info">기간 동안 책을 본 누적 시간</div>
            </div>
          </div>
          <div class="record-question-routine-wrapper">
            <img src="/img/icon/hourglass.svg">
            <div class="record-question-routine-right">
              <div class="record-question-routine-title">독서 루틴</div>
              <div class="record-question-routine-info">기간 동안 서비스에 로그인한 날짜 및 횟수</div>
            </div>
          </div>
          <li>내 서재에서 삭제한 책은 통계에 포함되지 않습니다.</li>
          <li>연간/누적 요약 정보에 있는 도서 권수가 그래프에 있는 도서 권수의 합보다 작을 수 있습니다.</li>
        </div>
      </div>

      <div class="record-contents-wrapper">

        <div class="record-contents">
          <div class="record-book">
            <div class="record-book-left">
              <img class="record-book-icon" src="/img/icon/book.svg">
              <div class="record-book-title">책</div>
            </div>
            <div class="record-book-right">
              <span class="record-book-number">39</span>
              <span class="record-book-text">권</span>
            </div>
          </div>
        </div>

        <div class="record-contents">
          <div class="record-time">
            <div class="record-time-left">
              <img class="record-time-icon" src="/img/icon/clock.svg">
              <div class="record-time-title">독서시간</div>
            </div>
            <div class="record-time-right">
              <div class="record-time-hour">11</div>
              <div class="record-time-hour-text">시간</div>
              <div class="record-time-minute">5</div>
              <div class="record-time-minute-text">분</div>
            </div>
          </div>
        </div>

        <div class="record-contents">
          <div class="record-routine">
            <div class="record-routine-left">
              <img class="record-routine-icon" src="/img/icon/hourglass.svg">
              <div class="record-routine-title">독서루틴</div>
            </div>
            <div class="record-routine-right">
              <span class="record-routine-day">42</span>
              <span class="record-routine-day-text">일</span>
              <span class="record-routine-count">63</span>
              <span class="record-routine-count-text">회</span>
            </div>
          </div>
        </div>

        <div class="record-graph-wrapper">
          <div class="record-graph-container">
            <div class="record-graph-1">
              <div class="record-graph-stick-wrapper-1">
                <div class="record-graph-data-label-1">32권</div>
                <div class="record-graph-stick-1"></div>
              </div>
              <span class="record-graph-name-1">2020</span>
            </div>
            <div class="record-graph-2">
              <div class="record-graph-stick-wrapper-2">
                <div class="record-graph-data-label-2">27권</div>
                <div class="record-graph-stick-2"></div>
              </div>
              <span class="record-graph-name-2">2021</span>
            </div>
            <div class="record-graph-3">
              <div class="record-graph-stick-wrapper-3">
                <div class="record-graph-data-label-3">39권</div>
                <div class="record-graph-stick-3"></div>
              </div>
              <span class="record-graph-name-3">2022</span>
            </div>
            <div class="record-graph-x-axis"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="order-list-title-wrapper">
      <div class="order-list-title-inner-wrapper">
        <span class="order-list-title">구매 목록</span>
        <div class="order-list-title-button">
          <img src="/img/icon/calendar.svg">
          <span>상세조회</span>
        </div>
        <span class="order-list-title-info">최근 1개월 구매 내역입니다.</span>


        <div class="order-list-title-detail-wrapper">
          <div class="detail-title">
            <span>상세조회</span>
            <img src="/img/icon/btn_dialog_close@2x.png">
          </div>
          <div class="order-list-title-detail-info">
            <li>조회기간 설정은 6개월 단위이며, 주문정보 조회는 최대 5년까지 가능합니다.</li>
            <li>필터 이용 시 선택한 주문정보만 조회 가능합니다.</li>
          </div>
          <div class="order-list-title-detail-range">
            <span class="detail-range-title">기간조회</span>
            <select name="detail-range" id="detail-range-select">
              <option value="month-1" selected="selected">최근 1개월</option>
              <option value="month-2">최근 2개월</option>
              <option value="month-3">최근 3개월</option>
              <option value="month-6">최근 6개월</option>
              <option value="direct">직접입력</option>
            </select>
            <div class="detail-range-start-wrapper">
              <input type="text" class="detail-range-start">
              <img class="detail-range-start-icon" src="/img/icon/calendar.svg">
            </div>
            <div class="detail-range-between">~</div>
            <div class="detail-range-end-wrapper">
              <input type="text" class="detail-range-end">
              <img class="detail-range-end-icon" src="/img/icon/calendar.svg">
            </div>
          </div>
          <div class="order-list-detail-state">
            <span class="detail-state-title">구매 상태</span>
            <select name="detail-state" id="detail-state-select">
              <option value="entire" selected="selected">전체</option>
              <option value="complete">구매 완료</option>
              <option value="cancel">취소</option>
              <option value="soldout">품절</option>
            </select>
          </div>
          <div class="order-list-detail-search">
            <span class="detail-search-title">검색</span>
            <input type="text" placeholder="상품명을 입력해주세요.">
          </div>
          <div class="order-list-detail-bottom">
            <div class="detail-bottom-reset">
              <img class="detail-bottom-reset-icon" src="/img/icon/arrow-clockwise.svg">
              <span>초기화</span>
            </div>
            <div class="detail-bottom-apply">
              <span>적용</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order-list-wrapper">
      <div class="order-list-top-box">
        <li class="order-list-top-box-title">
          <div>
            <span>구매 내역</span>
          </div>
        </li>
        <li>
          <div>
            <span>0</span>
            <span>구매 완료</span>
          </div>
        </li>
        <li>
          <div>
            <span>0</span>
            <span>취소</span>
          </div>
        </li>
        <li>
          <div>
            <span>0</span>
            <span>품절</span>
          </div>
        </li>
      </div>

      <div class="order-list-middle-box">
        <div class="order-list-middle-box-title">
          카드결제(간편결제,법인카드 포함) 취소 안내
        </div>
        <div class="order-list-middle-box-detail">
          <li>
            카드결제 취소 기간 안내<br>
            &nbsp;- 전체취소 : 당일 취소/환불 처리<br>
            &nbsp;- 부분취소 : 영업일 기준 3~5일 소요(당일 취소 포함)
          </li>
          <li>
            카드사 정책에 따라 주문당일 부분취소한 경우 당일 취소 및 환불 불가합니다.
          </li>
          <li>
            부분취소한 경우 카드사 승인 취소는 약 3~5일 소요됩니다.
          </li>
          <li>
            카드사에서 부분취소를 지원하지 않는 카드의 경우 승인취소가 아닌 예치금으로 환불됩니다.
          </li>
          <li>
            주문취소시 오류가 발생하거나 환불이 정상 처리되지 않을 경우 1:1로 문의 주시기 바랍니다.
          </li>
        </div>
      </div>

      <div class="order-list-middle-line"></div>

      <div class="order-list-contents-wrapper">
        <div class="order-list-contents-null">
          <img src="/img/icon/exclamation-circle-fill.svg">
          <span>해당 기간에 구매한 상품이 없습니다.</span>
        </div>
      </div>

    </div>

    <div class="member-info-wrapper">

    </div>

    <div class="top-move-button">
      <div>∧</div>
      <div>TOP</div>
    </div>

  </div>

</html>