<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/notice-detail.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/notice-detail.js}"></script>
</th:block>

<div layout:fragment="content">

<div class="top-back-wrapper">
    <div class="top-back-title">ㅣ 공지사항 ㅣ</div>
</div>
 
<div class="top-space"></div>

<div class="middle-nav-wrapper">
  <div class="middle-nav-container">
    <div class="middle-nav">
      <div onclick="location.href='/review'">책리뷰</div>
      <div onclick="location.href='/notice'">상품문의</div>
      <div onclick="location.href='/notice'">공지사항</div>
      <div onclick="location.href='/winner'">당첨자발표</div>
      <div class="middle-nav-underbar"></div>
    </div>
  </div>
</div>

<div class="meta-wrapper">

<div class="notice-wrapper">
  <div class="notice-title-wrapper">
    <div class="title">공지사항</div>
  </div>

  <div class="detail-wrapper">
    <span class="title">공지 안내글 일시적 변경사항</span>
    <div class="sub-title">
      <span class="type">북셸프</span>
      <span class="split">ㅣ</span>
      <span class="date">2022.12.02</span>
      <span class="remove">삭제</span>
      <span class="edit">수정</span>
    </div>
    <div class="contents">
      남녀노소 불문하고 사랑받는 크림빵의 인기는<br>
      CU 편의점의 연세우유 크림빵으로 새로운 역사를 썼다고 해도 과언이 아니다.<br>
      동네 빵집에서 사 먹던 길쭉한 모양의 크림빵도 아니고, 마트 매대에 있던 빵도 아니다. <br><br>
      디저트 공간에 고스란히 자리 잡고 있으며, <br>
      냉장 보관되고 있는 크림빵. 품절 대란이 일어나고, <br>
      유튜브 및 SNS에 수없이 등장하며 많은 사람의 관심을 받았다. <br>
      이에 타 편의점도 어김없이 비슷한 종류의 빵을 출시하기 시작했다. <br><br>
      CU 편의점의 연세우유 크림빵과 함께 GS25 브레디크, 이마트24의 빵빵도넛까지 <br>
      총 3종의 차이점이 무엇인지 낱낱이 파헤쳐 보기로 했다. <br>
      초코, 딸기 등 다양한 맛이 있지만, <br>
      공통적이면서도 기본인 오리지널(우유)을 선택했다.
    </div>
  </div>

  <div class="prev-detail">
    <span class="prev">이전글</span>
    <img src="/img/icon/chevron-up.svg">
    <a class="title" href="#">이전 공지글</a>
  </div>

  <div class="next-detail">
    <span class="next">이전글</span>
    <img src="/img/icon/chevron-up.svg">
    <a class="title" href="#">다음 공지글</a>
  </div>

  <div class="back-button" onclick="location.href='/notice'">공지사항 목록</div>
 
</div>  

  <div class="top-move-button">
    <div>∧</div>
    <div>TOP</div>
  </div>

</div>
</html>