<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/order.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/order.js}"></script>
</th:block>

<div layout:fragment="content" id="page-content" data-index="">

  <div class="meta-wrapper">

    <div class="title">주문하기</div>

    <div class="item-box column-box group-box">
      <div class="label">상품 정보</div>
      <div class="core-box column-box">
        <div class="row-head grid-row">
          <div class="text">상품명</div>
          <div class="text">수량</div>
          <div class="text">가격</div>
        </div>
        <div class="row grid-row" th:each="order : ${orders}">
          <div class="book text" th:data-id="${order.book.id}" th:text="${order.book.name}"></div>
          <div class="amount text" th:text="${order.amount}"></div>
          <div class="text">
            <div class="origin-price"
              th:text="${#numbers.formatInteger(order.amount * order.originPrice, 3, 'COMMA') + ' 원'}"></div>
            <div class="discount-price"
              th:text="${#numbers.formatInteger(order.amount * order.discountPrice, 3, 'COMMA') + ' 원'}"></div>
          </div>
        </div>
      </div>
      <div class="sum-box row-box">
        <div class="text">상품 금액 합계 :</div>
        <div class="origin-price"
          th:text="${#numbers.formatInteger(#aggregates.sum(orders.![originPrice * amount]), 3, 'COMMA')} + ' 원'"></div>
        <div class="discount-price data"
          th:text="${#numbers.formatInteger(#aggregates.sum(orders.![discountPrice * amount]), 3, 'COMMA')}"></div>
        <div class="unit">원</div>
      </div>
    </div>

    <div class="delivery-box column-box group-box">
      <div class="label">배송 정보</div>
      <div class="core-box column-box" id="info">
        <div class="option-box row-box group">
          <div class="req"></div>
          <div class="label">배송 정보 선택</div>
          <div class="option row-box">
            <input class="info-option" data-type="same" name="info-opt" value type="radio" checked>주문자 정보와 동일
            <input class="info-option" data-type="last" name="info-opt" value type="radio"
              th:checked="${infoType} == 'last'">최근 배송
            <input class="info-option" data-type="direct" name="info-opt" value type="radio">직접 입력
          </div>
        </div>
        <div class="orderer-box row-box group">
          <div class="req">*</div>
          <div class="label">주문인</div>
          <input type="text" th:value="${member.name}" disabled>
        </div>
        <div class="receiver-box row-box group">
          <div class="req">*</div>
          <div class="label">수취인</div>
          <input class="receiver" type="text" th:value="${last != null ? last.receiver : member.name}">
        </div>
        <div class="address-box row-box group">
          <div class="req">*</div>
          <div class="label">배송지 주소</div>
          <div class="input-box column-box">
            <div class="post-box row-box">
              <input class="zipcode disable" type="text"
                th:value="${last != null ? last.address.zipcode : member.address.zipcode}" placeholder="우편 번호">
              <button class="post-btn btn btn-gray-fill" type="button">주소 검색</button>
            </div>
            <input class="city disable" type="text" th:value="${last != null ? last.address.city : member.address.city}"
              placeholder="주소">
            <input class="street" type="text" th:value="${last != null ? last.address.street : member.address.street}"
              placeholder="상세 주소">
          </div>
        </div>
        <div class="phone-box row-box group">
          <div class="req">*</div>
          <div class="label">휴대폰번호</div>
          <input class="phone-1" type="text"
            th:value="${#strings.substring((last != null ? last.phone : member.phone),0,3)}">-
          <input class="phone-2" type="text"
            th:value="${#strings.substring((last != null ? last.phone : member.phone),3,7)}">-
          <input class="phone-3" type="text"
            th:value="${#strings.substring((last != null ? last.phone : member.phone),7)}">
        </div>
        <div class="tel-box row-box group">
          <div class="req"></div>
          <div class="label">전화번호</div>
          <input class="tel-1" type="text" th:value="${last?.tel != '' ? #strings.substring(last?.tel,0,3) : ''}">-
          <input class="tel-2" type="text" th:value="${last?.tel != '' ? #strings.substring(last?.tel,3,7) : ''}">-
          <input class="tel-3" type="text" th:value="${last?.tel != '' ? #strings.substring(last?.tel,7) : ''}">
        </div>
        <div class="where-box row-box group">
          <div class="req"></div>
          <div class="label">배송 장소</div>
          <input class="where" type="text" th:value="${last?.deliveryPlace != null ? last.deliveryPlace : '문 앞'}">
        </div>
      </div>
    </div>

    <div class="order-check-box column-box group-box">
      <div class="label">결제 내역 확인</div>
      <div class="core-box column-box">
        <div class="origin-sum-box row-box">
          <div class="text">상품 주문 금액</div>
          <div class="data"
            th:text="${#numbers.formatInteger(#aggregates.sum(orders.![discountPrice * amount]), 3, 'COMMA')}"></div>
          <div class="unit">원</div>
        </div>
        <div class="delivery-charge-box row-box">
          <div class="text">배송료</div>
          <div class="data">3,000</div>
          <div class="unit">원</div>
        </div>
        <div class="point-box row-box">
          <div class="text">포인트 사용</div>
          <input class="point-value data" type="number" value="0">
          <button class="all-point btn btn-gray" type="button">전액 사용</button>
          <div class="rest" th:text="'잔여 포인트 : ' + ${#numbers.formatInteger(member.point, 3, 'COMMA')}"
            th:data-value="${member.point}"></div>
        </div>
        <div class="payment-sum-box row-box">
          <div class="text">결제 금액</div>
          <div class="origin-sum"
            th:text="${#numbers.formatInteger(#aggregates.sum(orders.![discountPrice * amount]), 3, 'COMMA')} + ' 원'"
            th:data-value="${#aggregates.sum(orders.![discountPrice * amount])}"></div>
          <div class="plus">+</div>
          <div class="delivery-charge" data-value="3000">3,000 원</div>
          <div class="minus">-</div>
          <div class="point">0 포인트</div>
          <div class="equal">=</div>
          <div class="data"
            th:text="${#numbers.formatInteger(#aggregates.sum(orders.![discountPrice * amount]) + 3000, 3, 'COMMA')}">
          </div>
          <input class="order-price" type="hidden"
            th:value="${#aggregates.sum(orders.![discountPrice * amount]) + 3000}">
          <div class="unit">원</div>
        </div>
      </div>
    </div>

    <div class="payment-method-box column-box group-box">
      <div class="label">결제 수단</div>
      <div class="core-box column-box">
        <div class="btn-box row-box">
          <div class="img-box">
            <input class="hidden pay-type" name="payType" value="html5_inicis" type="radio">
            <img class="select-icon" src="/img/icon/ico_checkbox_active@2x.png">
            <div class="text">카드 결제</div>
          </div>
          <div class="img-box">
            <input class="hidden pay-type" name="payType" value="tosspay" type="radio">
            <img class="select-icon" src="/img/icon/ico_checkbox_active@2x.png">
            <img id="toss-pay" src="/img/icon/toss-pay.png">
          </div>
          <div class="img-box">
            <input class="hidden pay-type" name="payType" value="kakaopay" type="radio">
            <img class="select-icon" src="/img/icon/ico_checkbox_active@2x.png">
            <img id="kakao-pay" src="/img/icon/kakao-pay.png">
          </div>
        </div>
      </div>
    </div>

    <div class="agree-box row-box">
      <input class="agree-check" type="checkbox">
      <div class="text">구매조건을 확인하였으며 결제에 동의합니다.</div>
    </div>

    <button class="btn pay-btn btn-yellow-fill disable">결제하기</button>
  </div>

</div>

</html>