<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/search.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:src="@{/js/search.js}"></script>
</th:block>


<div layout:fragment="content">

  <div class="search-input-wrapper">
    <form action="/search-result" method="get" class="search-input" id="search-form">
      <img class="icon" onclick="document.getElementById('search-form').submit();" src="/img/icon/search.svg">
      <input id="search-input" name="name" type="text" placeholder="검색어를 입력하세요" autocomplete="off">
      <input id="category-id-input" name="categoryIds" type="hidden">
      <img class="reset" src="/img/icon/x-circle-fill.svg">
    </form>

    <div class="search-result-wrapper" id="search-input-results">

      <div class="search-result-category" th:each="category : ${ipCategories}">
        <div class="title">카테고리</div>
        <a id="category-box">
          <span class="data" th:utext="${category.name}"></span>
          <input id="category-id" th:value="${category.id}" type="hidden">
        </a>
      </div>

      <div class="search-result-book" th:each="book : ${ipBooks}">
        <img src="/img/icon/search.svg">
        <a th:href="'/book?id=' + ${book.id}">
          <span class="data" th:utext="${book.name}"></span>
        </a>
      </div>

    </div>
  </div>



  <div class="wrapper">

    <div class="recommend-and-trend">

    <div class="recommend-wrapper">
      <div class="recommend-title">북셸프 추천검색어</div>
      <ul>
        <li>이야기</li>
        <li>다이어트</li>
        <li>예술</li>
        <li>건강</li>
        <li>무기</li>
        <li>철학</li>
        <li>불편한 편의점</li>
        <li>일본</li>
      </ul>
    </div>

      <div class="trend-wrapper">
        <div class="trend-title">
          <span>인기 검색어</span>
          <span class="trend-current-time"></span>
        </div>
        <div class="inner-box">
        <ul>
          <a th:each="trend,i : ${trends}" th:if="${i.count<6}" th:onclick="search(${trend.searchData})">
            <span th:text="${i.count}" th:style="${i.count == 1} ? 'color: rgb(255, 166, 0);' : ''"></span>
            <div th:class="'trend-'+${i.count}" th:text="${trend.searchData == null ? '-' : trend.searchData}"></div>
          </a>
        </ul>
        <ul>
          <a th:each="trend,i : ${trends}" th:if="${i.count>5}" th:onclick="search(${trend.searchData})">
            <span th:text="${i.count}"></span>
            <div th:class="'trend-'+${i.count}" th:text="${trend.searchData == null ? '-' : trend.searchData}"></div>
          </a>
        </ul>
        </div>
      </div>

    </div>




    <div class="category-wrapper">
      <div class="category-title">카테고리</div>
      <ul class="category-ul-1">
        <li>
          <input class="category-id" type="hidden" value="1">
          <div class="category-name">북셸프 오리지널</div>
          <div class="category-info">연재 작품, 정기구독 라인업, 소설, SF, 스릴러, 에세이</div>
          <img src="/img/book-cover/search-category-original.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="2">
          <div class="category-name">시 / 에세이</div>
          <div class="category-info">시, 일상, 위로, 직업, 관계, 자연, 사랑, 가족</div>
          <img src="/img/book-cover/search-category-essay.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="3">
          <div class="category-name">소설</div>
          <div class="category-info">추리 스릴러, SF, 판타지, 법의학 스릴러, 로맨스</div>
          <img src="/img/book-cover/search-category-novel.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="4">
          <div class="category-name">인문</div>
          <div class="category-info">인문학, 문명, 문화, 심리학, 인간, 언어</div>
          <img src="/img/book-cover/search-category-human.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="5">
          <div class="category-name">건강</div>
          <div class="category-info">신체, 라이프 스타일, 스포츠, 생활, 나이</div>
          <img src="/img/book-cover/search-category-health.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="6">
          <div class="category-name">요리</div>
          <div class="category-info">식사, 끼니, 카페, 식재료, 술, 와인, 베이커리</div>
          <img src="/img/book-cover/search-category-cook.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="7">
          <div class="category-name">경제 / 경영</div>
          <div class="category-info">4차 산업혁명, IT, 마케팅, 세계, 경제학, 기업, 재테크</div>
          <img src="/img/book-cover/search-category-economy.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="8">
          <div class="category-name">자기계발</div>
          <div class="category-info">성공, 말하기, 협상, 프레젠테이션, 시간 관리, 습관, 글쓰기</div>
          <img src="/img/book-cover/search-category-self.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="9">
          <div class="category-name">정치 / 사회</div>
          <div class="category-info">사회학, 법, 노동, 국가, 교육, 범죄, 환경, 세계</div>
          <img src="/img/book-cover/search-category-politics.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="10">
          <div class="category-name">역사 / 문화</div>
          <div class="category-info">한국 고대사, 조선사, 근현대사, 세계사, 역사 소설</div>
          <img src="/img/book-cover/search-category-history.jpg">
        </li>
      </ul>

      <ul class="category-ul-2">
        <li>
          <input class="category-id" type="hidden" value="11">
          <div class="category-name">만화</div>
          <div class="category-info">액션, 역사 시대물, 스포츠, 로맨스, 무협, 판타지</div>
          <img src="/img/book-cover/search-category-comic.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="12">
          <div class="category-name">컴퓨터 / IT</div>
          <div class="category-info">개발, 프로그래밍, IT, 교양, 그래픽, 멀티미디어, e비즈니스</div>
          <img src="/img/book-cover/search-category-it.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="13">
          <div class="category-name">과학</div>
          <div class="category-info">물리학, 공학, 생명과학, 천문학, 지구과학, 인체, 화학</div>
          <img src="/img/book-cover/search-category-science.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="14">
          <div class="category-name">여행</div>
          <div class="category-info">여행 에세이, 한국, 제주도, 미국, 일본, 중국, 유럽, 동남아</div>
          <img src="/img/book-cover/search-category-travel.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="15">
          <div class="category-name">예술 / 대중문화</div>
          <div class="category-info">디자인, 아트, 소셜미디어, 뮤지컬, 연극, 영화</div>
          <img src="/img/book-cover/search-category-art.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="16">
          <div class="category-name">취미 / 실용 / 스포츠</div>
          <div class="category-info">DIY, 레져, 축구, 낚시, 가이드, 물생활, 캠핑</div>
          <img src="/img/book-cover/search-category-hobby.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="17">
          <div class="category-name">종교</div>
          <div class="category-info">기독교, 학술 연구, 성경, 기도, 묵상, 불교, 카톨릭</div>
          <img src="/img/book-cover/search-category-religion.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="18">
          <div class="category-name">외국어</div>
          <div class="category-info">영어, 일본어, 독해, 문법, 작문, 회화, 수험영어</div>
          <img src="/img/book-cover/search-category-foreign.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="19">
          <div class="category-name">철학</div>
          <div class="category-info">동양, 서양, 삶, 예술, 문화, 정치, 경제</div>
          <img src="/img/book-cover/search-category-philosophy.jpg">
        </li>
        <li>
          <input class="category-id" type="hidden" value="20">
          <div class="category-name">어린이 / 청소년</div>
          <div class="category-info">동화, 어린이 교육도서, 뽀로로, 디즈니 그림 명작, 마법천자문</div>
          <img src="/img/book-cover/search-category-child.jpg">
        </li>
      </ul>
    </div>

    <div class="top-move-button">
      <div>∧</div>
      <div>TOP</div>
    </div>

  </div>
  
</div>

</html>